.account-wrap {
	max-width: 940px;
}
.account-row {
	@include flexbox();
	@include flex-wrap(wrap);
	margin: 0 -0.3125rem;

	@media (min-width: $screen-md-min) {

	}
}

.account-column {
	width: 100%;
	padding: 0 0.3125rem;

	@media (min-width: $screen-md-min) {
		width: 50%;
	}
}

.account {
	background: #fff;
	margin-bottom: 0.625rem;
	@include border-radius(0.25rem);
	@include box-shadow(0 1px 4px 0 rgba(0,0,0,.2));

	&__heading {
		color: #333;
		width: 100%;
		font-size: 0.875rem;
		height: 5.25rem;
		position: relative;
		padding: 1rem 1rem 1rem 5rem;
		border-bottom: 1px solid #e8e8e8;
		@include flexbox();

		&_icon {
			top: 50%;
			color: #fff;
			left: 1.25rem;
			width: 2.5rem;
			height: 2.5rem;
			padding: 0.75rem 0;
			font-size: 1rem;
			line-height: 1rem;
			text-align: center;
			position: absolute;
			background: $color-blue;
			margin-top: -1.25rem;
			display: inline-block;
			@include border-radius(50%);
		}

		&_name {
			font-weight: 500;
			margin: auto 0;
		}

		&_avatar {
			top: 50%;
			padding: 0;
			font-size: 0;
			line-height: 0;
			left: 1.25rem;
			width: 2.5rem;
			height: 2.5rem;
			overflow: hidden;
			position: absolute;
			margin-top: -1.25rem;
			display: inline-block;
			@include border-radius(50%);
		}

	}

	&__content {
		padding: 1.25rem;
	}

	&__center {
		padding: 1rem 0;
		text-align: center;

		&_icon {
			font-size: 3rem;
			line-height: 3rem;
		}
		&_text {
			font-size: 1rem;
			padding: 1rem 0;
			margin-bottom: 1rem;
		}
	}

	&__user {

		&_name {
			font-weight: 600;
			margin-bottom: 0.25rem;
		}

		&_contact {
			padding: 0.125rem 0;
		}
	}

	&__balance {
		color: #060606;
		font-size: 1.25rem;
		min-width: 150px;
		font-weight: 500;
		position: relative;
		line-height: 2rem;
		margin-bottom: 1rem;
		display: inline-block;
		background-color: #f3f4f6;
		padding: 0.625rem 1.25rem 0.625rem 1.25rem;
	}

	&__report {
		display: block;
		color: $color-blue;
		margin-bottom: 0.5rem;

		&:hover {
			color: $color-blue;
			text-decoration: underline;
		}
	}

	&__tariff {

		span {
			display: block;
		}

		strong {
			font-weight: 500;
		}
	}

	&___footer {
		padding: 1.25rem;
		border-top: 1px solid #e8e8e8;
	}

	&__ad {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 0.625rem;
		}

		&_title {

			a {
				line-height: 1.25rem;

				a {
					color: $color-base;
					text-decoration: underline;
				}
			}
		}

		&_text {
			color: #999;

			span {
				font-weight: 600;
				margin-right: 0.5rem;
			}
		}

		&_action {

			a {
				color: #5d5b5b;
				font-weight: 300;
				text-decoration: underline;

				&:hover {
					color: #000;
				}
			}
		}

		&_sale {
			color: #00701A;
		}

		&_rent {
			color: #c3325f;
		}

		&_office {
			color: #ff9d00;
		}
	}

	.social {
		text-align: left;
	}

	.no-photo {
		width: 2.5rem;
		height: 2.5rem;
		color: #fff;
		padding: 0.75rem 0;
		font-size: 1rem;
		line-height: 1rem;
		text-align: center;
		background: $color-blue;
		display: inline-block;
		overflow: hidden;
		@include border-radius(50%);
	}
}


.pay {
	width: 100%;
	@include flexbox();
	@include flex-wrap(nowrap);
	@include flex-direction(column);

	&__payment {

	}

	&__balance {

	}

	@media (min-width: $screen-lg-min) {
		@include flex-direction(row);

		&__payment {
			width: 550px;
			padding-right: 2rem;

		}


		&__balance {
			@include flex(1);
		}
	}
}

.payment {

	&__step {
		margin-bottom: 1.5rem;
	}

	&__title {
		line-height: 1.25rem;
		margin-bottom: 0.625rem;
		color: rgba(34,34,34,.75);;
	}

	&__amount {
		max-width: 300px;
		position: relative;

		&:before {
			z-index: 10;
			position: absolute;
			top: 0;
			right: 0.5rem;
			margin-top: auto;
			margin-bottom: auto;
			content: '\20BD';
			color: #929294;
			font-size: 2rem;
			line-height: 3.125rem;
		}

		.form-control {
			font-size: 1.25rem;
			padding: 0.875rem 1.5rem 0.875rem 0.625rem;
		}
	}

	&__type {
		margin: 0;
		padding: 0;
		list-style: none;
		overflow: hidden;
		border: 1px solid #c9c9c9;
		@include flexbox();
		@include flex-wrap(wrap);
		@include border-radius(0.25rem);

		> li {
			width: 50%;

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				border-bottom: 1px solid #c9c9c9;
			}

			&:nth-child(1),
			&:nth-child(3),
			&:nth-child(5) {
				border-right: 1px solid #c9c9c9;
			}
		}

		a {
			width: 100%;
			height: 140px;
			outline: none;
			padding-top: 1rem;
			text-align: center;
			color: $color-base;
			@include flexbox();
			@include flex-direction(column);
			@include transition(.2s);

			&:hover {
				color: $color-base;
				background: #f4f4f4;
				@include transition(.2s);
			}
		}

		.payment-icon {
			width: auto;
			height: 70%;
			margin: auto;
			max-width: 100%;
			display: inline-block;
			-o-object-fit: contain;
			object-fit: contain;
		}

		.icon-card {
			width: 50%;
			height: 50%;
		}

		.icon-sberbank {
			width: 60%;
			max-height: 40%;
		}

		.icon-mobile {
			max-height: 30%;
			padding: 0 14px;
		}

		&_icon {
			height: 4rem;
			margin-left: 0.5rem;
			margin-right: 0.5rem;
			@include flexbox();
			@include justify-content(center);
		}

		&_title {
			color: #585858;
			font-size:0.75rem;
			line-height: 1.125rem;
		}

		&_text {
			color: #f7941d;
			font-size:0.75rem;
			line-height: 1.125rem;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__type {

			> li {
				width: 33.33%;

				&:nth-child(2),
				&:nth-child(4) {
					border-right: 1px solid #c9c9c9;
				}

				&:nth-child(3) {
					border-right: none;
				}

				&:nth-child(4) {
					border-bottom: none;
				}
			}

		}
	}
}

.balance {
	padding: 1.25rem;
	background: #f3f4f6;
	@include border-radius(0.25rem);

	&__summary {
		padding-bottom: 1rem;
		border-bottom: 1px solid #c7c8ca;
	}

	&__heading {
		color: #060606;
		font-size: 1rem;
		font-weight: 700;
		line-height: 1.5rem;
		margin-bottom: 0.25rem;
	}

	&__value {
		color: #222;
		font-size: 1.75rem;
		line-height: 2rem;
		margin-bottom: 0.25rem;

		span {

			&:after {
				margin-left: 0.375rem;
				font-weight: 400;
				content: '\20BD';
				text-transform: none;
			}
		}
	}

	&__report {
		color: $color-blue;
		line-height: 1.25rem;
		border-bottom: 1px solid transparent;

		&:hover {
			color: $color-blue;
			border-bottom-color: $color-blue;
		}
	}

	&__info {
		padding-top: 1rem;

		td {
			padding: 0.25rem 0;

			&:last-child {
				font-weight: 500;
				padding-left: 0.5rem;
			}
		}
	}

	.hr {

	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}