.first {
	z-index: 200;
	padding: 4rem 0;
	position: relative;

	&.first-home {
		background: url("../img/top_bg.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	&.first-rent {
		background: url("../img/rent_bg.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	&.first-sale {
		background: url("../img/sale_bg.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	&.first-new {
		background: url("../img/new_bg.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	&.first-office {
		background: url("../img/office_bg.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	&:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content: '';
		z-index: 10;
		display: block;
		position: absolute;
		background-color: rgba(24,41,48,.4);
	}

	&__wrap {
		z-index: 20;
		position: relative;
	}

	&__heading {
		color: #fff;
		padding: 0;
		font-size: 1.75rem;
		line-height: 1.2;
		font-weight: 700;
		text-align: center;
		margin: 0 0 1.25rem 0;
		text-shadow: 0 2px 4px rgba(0,0,0,.5);
	}

	&__filter {
		margin: 0 -0.5rem;
		padding: 0;
		list-style: none;

		> li {
			padding: 0 0.5rem;
			margin-bottom: 1rem;
		}
	}

	&__send {
		padding: 0;
		list-style: none;
		margin: 0 -0.3125rem;
		@include flexbox();
		@include flex-direction(row-reverse);

		li {
			padding: 0 0.3125rem;
		}
	}

	.formRange {

		input[type='text'] {
			padding: 0.625rem 0.625rem;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__heading {
			font-size: 2.5rem;
		}

		&__filter {
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-between);

			> li {
				width: 50%;

				&:last-child {
					width: 100%;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		height: 490px;
		padding: 6.25rem 0;

		&__filter {

			> li {
				width: 25%;

				&:last-child {
					width: 100%;
					@include flex(1);
				}
			}
		}
		.formRange {
			max-width: 230px;
		}
	}


	@media (min-width: $screen-lg-min) {

		&__filter {
			margin: 0 0 1rem 0;
			border: 1px solid #e4e4e4;
			@include border-radius(4px);
			@include flex-wrap(nowrap);

			> li {
				padding: 0;
				width: auto;
				margin: 0;
				border-right: 1px solid #e4e4e4;

				&:last-child {
					width: auto;
					@include flex(1);
					border-right: none;
				}
			}

			.mySelect {

				&__btn {
					border: 1px solid transparent;
					@include border-radius(0);
				}
			}

			.formRange {
				border: 1px solid transparent;
				@include border-radius(0);
			}
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.serviceBlock {
	margin: 0 -0.375rem 2.5rem -0.375rem;
	@include flexbox();
	@include flex-direction(column);

	@media (min-width: $screen-sm-min) {
		@include flex-direction(row);
		@include flex-wrap(wrap);
	}
}

.serviceBox {
	width: 100%;
	padding: 0 0.375rem;
	margin-bottom: 0.75rem;
	@include flexbox();
	@include border-radius(2px);
	@include align-items(stretch);

	&__image {
		display: none;

		&.sale {
			background: url("../img/cat__image_01.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.rent {
			background: url("../img/cat__image_02.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.hotel {
			background: url("../img/cat__image_03.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.office {
			background: url("../img/cat__image_04.jpg") 50% 50% no-repeat;
			background-size: cover;
		}
	}

	&__content {
		background: #fff;
		padding: 1rem 1rem 0.75rem 1.5rem;
		border: 1px solid #e4e4e4;
		@include flex(1);

		h5 {
			color: #121212;
			margin: 0 0 3px;
			font-weight: 700;
			font-size: 0.875rem;
			line-height: 1.25rem;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				font-size: 0.8125rem;
				line-height: 1.125rem;
				margin-bottom: 2px;

				a {
					text-decoration: none;
					color: $color-blue;
					cursor: pointer;
					border-bottom: 1px solid transparent;
					-webkit-transition: color .3s,border-color .3s,background .3s;
					transition: color .3s,border-color .3s,background .3s;

					&:hover {
						border-bottom-color: rgba(43,135,219, 0.4);
					}
				}

				span {
					color: #7a7a7a;
					margin-left: 7px;
					font-size: 0.625rem;
				}
			}
		}
	}

	&__map {
		width: 100%;
		min-height: 100%;
		position: relative;
		@include flexbox();
		text-align: center;
		border: 1px solid #e4e4e4;
		background: url("../img/cat__image_05.jpg") 50% 50% no-repeat;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			position: absolute;
			background-image: -webkit-linear-gradient(left,hsla(0,0%,100%,.5),hsla(0,0%,100%,.9) 35%,hsla(0,0%,100%,.9) 65%,hsla(0,0%,100%,.5));
			background-image: linear-gradient(90deg,hsla(0,0%,100%,.5),hsla(0,0%,100%,.9) 35%,hsla(0,0%,100%,.9) 65%,hsla(0,0%,100%,.5));
		}

		&_wrap {
			width: 100%;
			z-index: 10;
			margin: auto 0;
			display: block;
			position: relative;
			padding: 1.25rem 1.25rem 1.5rem 1.25rem;
		}

		&_title {
			font-size: 1.25rem;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 0.5rem;
		}

		p {
			max-width: 250px;
			font-size: 0.875rem;
			margin: 0 auto 1rem auto;
		}
	}


	@media (min-width: $screen-sm-min) {

		&.small {
			width: 50%;
		}

		&__image {
			width: 50%;
			display: block;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

		width: 75%;

		&:nth-child(2) {
			width: 25%;

			.serviceBox__image {
				display: none;
			}
		}

		&:nth-child(5) {
			@include order(6);
		}

		&:nth-child(6) {
			@include order(5);
		}

		&:nth-child(7) {
			width: 100%;
			@include order(7);
		}

		&.small {
			width: 25%;
		}

	}

	@media (min-width: $screen-xl-min) {

		width: 50%;

		&:nth-child(2) {
			width: 50%;

			.serviceBox__image {
				display: block;
			}
		}

		&:nth-child(3) {

			.serviceBox__image {
				@include order(2);
			}
			.serviceBox__content {
				@include order(1);
			}
		}

		&:nth-child(5) {
			@include order(5);
		}

		&:nth-child(6) {
			@include order(6);

			.serviceBox__image {
				@include order(1);
			}
			.serviceBox__content {
				@include order(2);
			}
		}


		&:nth-child(7) {
			width: 50%;
		}
	}
}

.magazine {
	margin-bottom: 2rem;

	@media (min-width: $screen-lg-min) {
		@include flexbox();
	}
}

.articles {
	width: 100%;
	padding: 1rem;
	background: #fff;
	margin-bottom: 2rem;
	border: 1px solid #e4e4e4;
	@include flexbox();
	@include flex-direction(column);
	@include flex-wrap(wrap);

	&__subtitle {
		width: 100%;
		color: $color-base;
		font-size: 1rem;
		line-height: 1.25rem;
		@include flexbox();
		padding-bottom: 0.5rem;
		text-decoration: none;
		border-bottom: 2px solid #121212;
		@include justify-content(space-between);

		strong {
			font-weight: 500;
			display: inline-block;
			text-transform: uppercase;
		}


		i {
			display: inline-block;
		}

		&:hover {
			color: $color-orange;
		}
	}

	&__first {
		color: #fff;
		display: block;
		text-decoration: none;
		padding: 2rem 1.25rem 3.5rem 1.25rem;
		position: relative;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 1rem;

		&:before {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			content: '';
			display: block;
			position: absolute;
			background: rgba(0,0,0,0.5);
		}

		&:hover {

			&:before {
				background: rgba(0,0,0,0.3);
			}
		}

		&_title {
			color: #fff;
			z-index: 10;
			display: block;
			font-size: 1.5rem;
			line-height: 1.2;
			font-weight: 700;
			position: relative;
		}

		&_views {
			left: 1.25rem;
			bottom: 1rem;
			z-index: 20;
			position: absolute;
		}
	}

	&__container {

	}

	&__item {
		padding: 1rem 0 0.875rem 0;
		border-bottom: 1px solid #e4e4e4;
		@include flexbox();
		@include flex-direction(column);

		&:last-child {
			border-bottom: none;
		}
	}

	&__image {
		margin-bottom: 0.5rem;
		@include order(1);

		a,
		img {
			display: block;
		}
	}

	&__text {
		line-height: 1.2;
		@include order(2);

		p {
			margin-bottom: 0;
		}
	}

	&__heading {
		font-weight: 500;
		color: $color-base;
		display: inline-block;
		margin-bottom: 0.625rem;
		text-decoration: none;

		&:hover {
			color: $color-orange;
		}
	}


	@media (min-width: $screen-sm-min) {
		padding: 1.25rem;

		&__first {
			padding: 2rem 2rem 4rem 1.25rem;

			&_title {
				font-size: 2rem;
			}
		}

		&__item {
			@include flex-direction(row);
		}

		&__image {
			width: 100px;
			min-width: 100px;
			@include order(2);

			a {
				border: 1px solid #e4e4e4;
			}
		}

		&__text {
			padding-right: 1.25rem;
			@include flex(1);
			@include order(1);
		}
	}

	@media (min-width: $screen-md-min) {
		@include flex-direction(row);
		@include flex-wrap(wrap);

		&__first {
			width: 50%;
		}

		&__container {
			width: 50%;
			padding-left: 1.25rem;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 70%;
		margin-bottom: 0;
		border-right: none;

		&__first {
			margin-bottom: 0;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}

.news {
	padding: 1rem;
	background: #fff;
	border: 1px solid #e4e4e4;

	&__subtitle {
		width: 100%;

		color: $color-base;
		font-size: 1rem;
		line-height: 1.25rem;
		@include flexbox();
		padding-bottom: 0.5rem;
		text-decoration: none;
		border-bottom: 2px solid #121212;
		@include justify-content(space-between);

		strong {
			font-weight: 500;
			display: inline-block;
			text-transform: uppercase;
		}


		i {
			display: inline-block;
		}

		&:hover {
			color: $color-orange;
		}
	}

	&__item {
		padding: 1rem 0 0.875rem 0;
		border-bottom: 1px solid #e4e4e4;
		@include flexbox();

		&:last-child {
			border-bottom: none;
		}
	}

	&__date {
		width: 45px;
		display: block;
		color: $color-orange;
	}

	&__title {
		color: $color-base;
		display: block;
		font-weight: 600;
		text-decoration: none;
		@include flex(1);

		&:hover {
			color: $color-orange;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__item {

		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		width: 30%;
	}

	@media (min-width: $screen-xl-min) {

	}
}

.premium {
	margin: 0;
	padding: 1rem 0;
	list-style: none;
	background: #fff;
	border: 1px solid #e4e4e4;


	> li {
		padding: 1rem;
		margin-bottom: 0.5rem;

		&:nth-child(1) {

			i {
				@include rotate(-45deg);
			}
		}

		&:nth-child(2) {

		}

		&:nth-child(3) {

		}

		h3 {
			color: #121212;
			font-weight: 600;
			font-size: 1.375rem;
			line-height: 1.5rem;
			margin-bottom: 0.625rem;
		}

		p {
			margin-bottom: 0.75rem;
		}

	}

	&__icon {
		font-size: 4rem;
		color: $color-blue;
		margin-bottom: 0.625rem;
	}


	@media (min-width: $screen-md-min) {
		@include flexbox();
		padding: 1rem 0 1rem 1rem;

		> li {
			width: 33.33%;
			@include flexbox();
			@include flex-direction(column);

			p {
				@include flex(1);
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		> li {
			padding: 1rem 2rem;
		}
	}
}

.promo-container {
	margin-bottom: 3rem;

	@media (min-width: $screen-lg-min) {
		@include flexbox();
	}
}

.promo {
	margin: 0 -0.25rem;
	@include flexbox();
	@include flex(1);
	@include flex-direction(column);
	@include flex-wrap(wrap);

	&__tile {
		width: 100%;
		padding: 0 0.25rem;
		margin-bottom: 0.5rem;
	}

	&__item {
		width: 100%;

		&.item-apartment {
			background: url("../images/cat__01.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-house {
			background: url("../images/cat__10.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-room {
			background: url("../images/cat__02.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-townhouse {
			background: url("../images/cat__07.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-new {
			background: url("../images/cat__08.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-studio {
			background: url("../images/cat__03.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office {
			background: url("../images/cat__04.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-garage {
			background: url("../images/cat__05.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-centre {
			background: url("../images/cat__06.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-landscape {
			background: url("../images/cat__09.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-new {
			background: url("../images/cat__11.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-developer {
			background: url("../images/cat__07.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-handed {
			background: url("../images/cat__13.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-build {
			background: url("../images/cat__12.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-newRoom {
			background: url("../images/cat__02.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-leader {
			background: url("../images/cat__01.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-map {
			background: url("../img/cat__image_05.jpg") 50% 50% no-repeat;
			background-size: cover;
		}


		&.item-office-01 {
			background: url("../images/cat__office_01.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office-02 {
			background: url("../images/cat__office_02.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office-03 {
			background: url("../images/cat__office_03.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office-04 {
			background: url("../images/cat__office_04.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office-05 {
			background: url("../images/cat__office_05.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office-06 {
			background: url("../images/cat__office_06.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office-07 {
			background: url("../images/cat__office_07.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office-08 {
			background: url("../images/cat__office_08.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office-09 {
			background: url("../images/cat__office_09.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office-10 {
			background: url("../images/cat__office_10.jpg") 50% 50% no-repeat;
			background-size: cover;
		}

		&.item-office-11 {
			background: url("../images/cat__office_11.jpg") 50% 50% no-repeat;
			background-size: cover;
		}


		&_content {
			width: 100%;
			color: #fff;
			min-height: 200px;
			position: relative;
			padding: 1.5rem 1rem 1.5rem 1.5rem;
			@include flex(1);
			@include flexbox();
			@include flex-direction(column);

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				content: '';
				position: absolute;
				background-image: -webkit-linear-gradient(340deg,rgba(43,71,86,.7),rgba(43,71,86,.1));
				background-image: linear-gradient(110deg,rgba(43,71,86,.7),rgba(43,71,86,.1));
			}
		}

		&_link {
			color: #fff;
			z-index: 10;
			width: 100%;
			text-align: center;
			min-height: 200px;
			position: relative;
			text-decoration: none;
			padding: 1.5rem 1rem 1.5rem 1.5rem;
			@include flex(1);
			@include flexbox();
			@include flex-direction(column);

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				content: '';
				position: absolute;
				background-image: -webkit-linear-gradient(340deg,rgba(43,71,86,.7),rgba(43,71,86,.1));
				background-image: linear-gradient(110deg,rgba(43,71,86,.7),rgba(43,71,86,.1));
			}

			h4 {

				span {
					display: inline-block;
					border-bottom: 1px solid rgba(255,255,255,0);
					-webkit-transition: color .3s,border-color .3s,background .3s;
					transition: color .3s,border-color .3s,background .3s;
				}
			}

			&:hover {
				color: #fff;

				h4 {

					span {
						border-bottom-color: rgba(255,255,255,0.8);
					}
				}
			}
		}

		&_wrap {
			z-index: 10;
			margin: auto 0;
			position: relative;
		}


		&_content-office {
			width: 100%;
			color: #fff;
			min-height: 140px;
			position: relative;
			padding: 1.25rem 1rem 1.25rem 1.25rem;
			@include flex(1);
			@include flexbox();
			@include flex-direction(column);

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				content: '';
				position: absolute;
				background-image: -webkit-linear-gradient(340deg,rgba(43,71,86,.7),rgba(43,71,86,.1));
				background-image: linear-gradient(110deg,rgba(43,71,86,.7),rgba(43,71,86,.1));
			}
		}


		&_link-office {
			color: #fff;
			z-index: 10;
			width: 100%;
			text-align: center;
			min-height: 140px;
			position: relative;
			text-decoration: none;
			padding: 1.25rem 1rem 1.25rem 1.25rem;
			@include flex(1);
			@include flexbox();
			@include flex-direction(column);

			&:before {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				content: '';
				position: absolute;
				background-image: -webkit-linear-gradient(340deg,rgba(43,71,86,.7),rgba(43,71,86,.1));
				background-image: linear-gradient(110deg,rgba(43,71,86,.7),rgba(43,71,86,.1));
			}

			h4 {

				span {
					display: inline-block;
					border-bottom: 1px solid rgba(255,255,255,0);
					-webkit-transition: color .3s,border-color .3s,background .3s;
					transition: color .3s,border-color .3s,background .3s;
				}
			}

			&:hover {
				color: #fff;

				h4 {

					span {
						border-bottom-color: rgba(255,255,255,0.8);
					}
				}
			}
		}
	}

	h4 {
		overflow: hidden;
		font-weight: 500;
		font-size: 1.25rem;
		line-height: 1.5rem;
		margin: 0 0 0.5rem 0;
	}

	p {
		opacity: .8;
		font-weight: 700;
		font-size: 0.75rem;
		line-height: 1rem;
		margin-bottom: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			padding: 1px 0;
			line-height: 1.25rem;

			a {
				color: #fff;
				line-height: 1.71;
				margin-right: 0.5rem;
				border-bottom: 1px solid transparent;
				-webkit-transition: color .3s,border-color .3s,background .3s;
				transition: color .3s,border-color .3s,background .3s;

				&:hover {
					border-bottom-color: rgba(255,255,255,0.7);
				}
			}

			span {
				font-size: 0.625rem;
			}
		}
	}

	&__data {
		margin: 0 -0.25rem;
		@include clearfix();

		&_col {
			float: left;
			width: 50%;

			a {
				color: #fff;
				border-bottom: 1px solid transparent;
				@include transition(.3s);

				&:hover {
					color: #fff;
					border-bottom-color: rgba(255,255,255,0.5);
					@include transition(.3s);
				}
			}

			small {
				display: block;
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		@include flex-direction(row);

		&__tile {
			width: 50%;

			&.tile-rent-01 {
				width: 100%;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__tile {
			width: 50%;

			&.tile-rent-01 {
				width: 66.66%;
			}

			&.tile-rent-02,
			&.tile-rent-05,
			&.tile-rent-06,
			&.tile-rent-07 {
				width: 33.33%;
			}

			&.tile-sale-01 {
				width: 66.66%;
			}

			&.tile-sale-02,
			&.tile-sale-03,
			&.tile-sale-04,
			&.tile-sale-05,
			&.tile-sale-06,
			&.tile-sale-07,
			&.tile-sale-08 {
				width: 33.33%;
			}

			&.tile-new-01 {
				width: 66.66%;
			}

			&.tile-new-02,
			&.tile-new-05,
			&.tile-new-06,
			&.tile-new-07 {
				width: 33.33%;
			}


			&.tile-office-01,
			&.tile-office-02,
			&.tile-office-03,
			&.tile-office-04,
			&.tile-office-05,
			&.tile-office-06,
			&.tile-office-07,
			&.tile-office-08,
			&.tile-office-09 {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}

.requests {
	display: none;
	padding-top: 1rem;
	@include flex-direction(column);
	@include flex-wrap(wrap);

	h3 {
		color: #121212;
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin: 0 0 0.125rem 0;
	}

	&__group {
		margin-bottom: 1.25rem;

		&.open {

			.requests__links {
				height: auto;
			}

			.requests__views {

				i {
					@include rotate(180deg);
					@include transition(.3s);
				}
			}
		}
	}

	&__links {
		margin: 0;
		padding: 0;
		height: 125px;
		overflow: hidden;
		list-style: none;

		li {

			a {


				.item {
					font-size: 0.8125rem;
					line-height: 1.5rem;
					border-bottom: 1px solid transparent;
					@include transition(.3s);
				}

				.value {
					font-size: 0.625rem;
					line-height: 1.5rem;
					color: #7a7a7a;
					margin-left: 0.375rem;

				}

				&:hover {
					color: $color-blue;

					.item {
						border-bottom-color: rgba(43,135,219,0.5);
						@include transition(.3s);
					}
				}
			}
		}
	}

	&__views {
		color: $color-blue;
		cursor: pointer;

		span {
			border-bottom: 1px solid rgba(43,135,219,0.4);
		}

		i {
			margin-left: .125rem;
			@include transition(.3s);
		}

		&:hover {
			color: $color-blue;
		}
	}

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}

.popular {
	width: 100%;
	margin-bottom: 2rem;

	&__heading {
		padding-top: 1rem;
		position: relative;
		margin-bottom: 1rem;

		&_link {
			top: 0;
			left: 0;
			position: absolute;
			font-size: 0.75rem;
			line-height: 1rem;
			border-bottom: 1px solid transparent;
			@include transition(.3s);

			&:hover {
				color: $color-blue;
				border-bottom-color: rgba(43,135,219,0.5);
				@include transition(.3s);
			}
		}

		h2 {
			margin: 0;
			padding: 0;
			color: #000;
			font-weight: 600;
			font-size: 1.5rem;
			line-height: 1.75rem;
		}
	}

	&__nav {
		padding: 0;
		list-style: none;
		margin: 0 -0.25rem 1.25rem -0.25rem;
		@include clearfix();

		> li {
			float: left;
			font-size: 0.875rem;
			line-height: 1.25rem;
			padding: 0 0.25rem;

			&:first-child {
				color: #000;
				font-weight: 500;
			}

			> a {
				color: #7a7a7a;
				font-weight: 500;
				display: inline-block;
				text-transform: uppercase;
				border-bottom: 2px solid transparent;
				@include transition(.3s);

				&:hover {
					color: #000;
					border-bottom-color: #7a7a7a;
					@include transition(.3s);
				}
			}

			&.active {

				> a {
					color: #000;
					border-bottom-color: rgba(43,135,219,1);
				}
			}
		}
	}

	&__row {
		margin: 0 -0.25rem;
		@include flexbox();
		@include flex-direction(column);
	}

	&__col {
		width: 100%;
		padding: 0 0.25rem;
		margin-bottom: 0.5rem;
	}


	&__item {
		height: 100%;
		display: block;
		background: #fff;
		color: $color-base;
		border: 1px solid #e4e4e4;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;

		&:hover {
			color: $color-base;
		}

		&_image {
			width: 100%;
			height: 200px;
			display: block;
		}

		&_text {
			padding: 1rem 1.25rem 2rem 1.25rem;
		}

		&_price {
			color: #000;
			font-weight: 600;
			font-size: 1.125rem;
			line-height: 1.5rem;
		}

		&_type {
			font-weight: 500;
			line-height: 1.125rem;
			margin-bottom: 0.5rem;
		}

		&_place {

		}
	}

	&__all {

		&:hover {
			color: $color-blue;
			text-decoration: underline;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__heading {
			padding-top: 0;

			&_link {
				right: 0;
				top: auto;
				left: auto;
				bottom: 0.125rem;
			}

			h2 {
				font-size: 1.75rem;
				line-height: 2rem;
			}
		}

		&__nav {
			margin: 0 -0.5rem 1rem -0.5rem;

			> li {
				padding: 0 0.5rem;
			}
		}

		&__row {
			@include flex-direction(row);
		}

		&__col {
			width: 33.33%;
			margin-bottom: 0.625rem;
		}
	}
}

.specialist-block {
	margin-bottom: 1.5rem;


	h3 {
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.25rem;
		margin-bottom: 0.5rem;
	}

	&__item {
		display: block;
		min-height: 50px;
		color: $color-base;
		padding-left: 60px;
		position: relative;
		padding-top: 0.25rem;
		margin-bottom: 1.25rem;


		&:hover {
			color: $color-base;

			.specialist-block__name {
				border-bottom-color: rgba(0,0,0,0.3);
			}
		}
	}

	&__image {
		top: 0;
		left: 0;
		width: 46px;
		height: 46px;
		overflow: hidden;
		position: absolute;
		@include border-radius(50%);

		img {
			display: block;
		}
	}

	&__logo {
		top: 0;
		left: 0;
		width: 46px;
		height: 46px;
		overflow: hidden;
		position: absolute;

		img {
			display: block;
		}
	}

	&__name {
		border-bottom: 1px solid transparent;
	}

	&__summary {
		color: #7a7a7a;
		display: block;
	}

	&__all {
		display: block;
		margin-top: -10px;

		&:hover {
			color: $color-base;
			text-decoration: underline;
		}
	}
}

.functionality {
	margin: 0 -0.25rem 1.25rem -0.25rem;
	@include flexbox();
	@include flex-direction(column);

	&__item {
		width: 100%;
		padding: 0 0.25rem;
		margin-bottom: 0.5rem;
	}

	&__wrap {
		background: #fff;
		width: 100%;
		height: 100%;
		position: relative;
		padding: 1rem 1.25rem 1.5rem 1.25rem;
		border: 1px solid #e4e4e4;
		@include flexbox();
		@include flex-direction(column);
	}

	&__icon {
		font-size: 4rem;
		color: $color-blue;
		margin-bottom: 0.625rem;
	}

	h3 {
		color: #121212;
		font-weight: 600;
		font-size: 1.375rem;
		line-height: 1.5rem;
		margin-bottom: 0.625rem;
	}

	p {
		margin-bottom: 0.75rem;
		@include flex(1);
	}


	@media (min-width: $screen-sm-min) {
		@include flex-direction(row);

		&__item {
			width: 50%;

			&.item-long {
				width: 66.66%;
			}

			&.item-small {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__wrap {
			padding: 2.5rem 1.25rem 1.5rem 7.25rem;
		}

		&__icon {
			top: 1rem;
			left: 1.25rem;
			position: absolute;
		}
	}
}

.sideNews {
	margin-bottom: 1.25rem;

	h4 {
		font-weight: 500;
		font-size: 1rem;
		line-height: 1.5rem;
		color: #121212;
		margin: 0 0 0.625rem 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 0.5rem;

			> a {
				border-bottom: 1px solid rgba(43,135,219,0);

				&:hover {
					color: $color-blue-hover;
					border-bottom: 1px solid rgba(43,135,219,0.6);
				}
			}
		}
	}
}

.geo {

	&__block {
		margin-bottom: 1.75rem;

		h5 {
			font-weight: 500;
			font-size: 1rem;
			color: #121212;
			line-height: 1.25rem;
			margin-bottom: 0.625rem;
		}

		&.open {

			.geo__list {
				height: auto;
			}


			.geo__views {

				i {
					@include rotate(180deg);
					@include transition(.3s);
				}
			}
		}
	}

	&__list {
		padding: 0;
		height: 144px;
		overflow: hidden;
		list-style: none;
		margin: 0 -0.5rem;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 50%;
			overflow: hidden;
			padding: 0 0.5rem;
			white-space: nowrap;
			text-overflow: ellipsis;
			margin-bottom: 0.25rem;

			> a {
				color: #121212;
				cursor: pointer;
				line-height: 1.25rem;
				text-decoration: none;
				border-bottom: 1px solid transparent;

				&:hover {
					border-bottom-color: rgba(0,0,0,0.5);
				}
			}
		}
	}

	&__views {
		color: #121212;
		cursor: pointer;
		line-height: 1.25rem;
		text-decoration: none;

		span {
			border-bottom: 1px solid rgba(0,0,0,0.5);
		}

		i {
			@include transition(.3s);
		}

		&:hover {
			color: #121212;

			span {
				border-bottom-color: rgba(0,0,0,0.0);
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__list {

			> li {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__list {

			> li {
				width: 25%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		&__list {

			> li {
				width: 20%;
			}
		}
	}

	@media (min-width: $screen-xl-min) {

		&__list {

			> li {
				width: 16.66%;
			}
		}
	}
}



.wrapper {
	margin-bottom: 2rem;
}

.contentText {
	margin-bottom: 1.25rem;
}

.whiteBox {
	background: #fff;
	padding: 1.25rem 1.25rem;
	@include border-radius(0.25rem);

	@media (min-width: $screen-sm-min) {
		padding: 1.5rem 2rem;
	}

}

.pagination {
	padding: 0;
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 0 -0.375rem 1.25rem -0.375rem;
	@include clearfix();

	> li {
		display: inline-block;
		margin: 0 0.375rem 0.625rem 0.375rem;

		a {
			width: 2rem;
			height: 2rem;
			font-weight: 500;
			background: #fff;
			line-height: 1.25rem;
			padding: 0.375rem 0;
			text-align: center;
			font-size: 0.875rem;
			display: inline-block;
			@include border-radius(0.25rem);

			&:hover {
				color: #fff;
				background: $color-blue;
			}

			&.next {
				background: transparent;

				&:hover {
					color: #000;
				}
			}
		}

		span {
			width: 2rem;
			height: 2rem;
			color: #fff;
			font-weight: 500;
			background: $color-blue;
			line-height: 1.25rem;
			padding: 0.375rem 0;
			text-align: center;
			font-size: 0.875rem;
			display: inline-block;
			@include border-radius(0.25rem);
		}
	}
}

.rows {

	.col-left {

	}

	.col-right {

	}

	@media (min-width: $screen-lg-min) {
		@include flexbox();
		@include flex-direction(row);

		.col-left {
			width: 100%;
			@include flex(1);
		}

		.col-right {
			width: 270px;
			display: block;
			margin-left: 40px;
		}
	}


}

.metro {
	display: block;
	padding-left: 1rem;
	position: relative;
	line-height: 1.125rem;

	&__line {
		left: 0;
		top: 0.25rem;
		width: 	0.625rem;
		height: 0.625rem;
		position: absolute;
		background: #5d5b5b;
		display: inline-block;
		@include border-radius(50%);
	}

	&__station {
		display: block;
	}

	&__time {
		color: #7a7a7a;
	}
}

// Лайки

.like {
	z-index: 50;
	width: 25px;
	height: 20px;
	font-size: 0;
	line-height: 0;
	display: inline-block;

	svg {
		width: 100%;
		height: 100%;
	}

	.heart{
		width: 25px;
		height: 20px;
		display: inline-block;
		cursor: pointer;
		animation-duration: .45s;
		animation-timing-function: ease;
		animation-direction: alternate;

		svg{
			fill: transparent;
			color: transparent;
			stroke: #999;
			transition: all .55s ease;
		}
	}

	&:hover {

		.heart {

			svg {
				stroke: $color-blue;
			}
		}
	}

	.layer {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
		width: 100%;
		height: 100%;
		display: inline-block;
		transform: scale(0);
		pointer-events: none;

		svg{
			fill: #3f9990;
			color: #3f9990;
		}
	}


	.hackyBox{
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		height: 20px;
		opacity: 0;
		cursor: pointer;

		&:checked {
			~ .heart {
				animation-name: love;

				svg {
					stroke: #3f9990;
				}
			}
			~ .layer {
				transform: scale(1);
				opacity: 1;
				z-index: -1;
				transition: transform .35s ease, opacity .35s ease;
			}
		}
	}
}

@keyframes love {
	0% {
		transform: scale(1);
	}
	25%{
		transform: scale(0.94);
	}
	50%{
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}


@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}