.filter {
	z-index: 900;
	background: #fff;
	position: relative;
	@include box-shadow(0 5px 10px 0 rgba(0, 0, 0, .1));

	&__row {
		margin: 0 -0.5rem;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__elem {
		padding: 0 0.5rem;
		margin-bottom: 1rem;

		&:first-child {
			width: 100%;
		}

		&-place {
			min-width: 290px;
		}
	}

	&__group {
		width: 100%;

		&_col {
			margin-bottom: 1rem;
		}
	}

	&__select {

		.mySelect__btn {
			padding: 0.25rem 1.5rem 0.25rem 0.625rem;
		}
	}

	&__price {
		@include flexbox();

		&_label {
			display: block;
			line-height: 1.375rem;
			font-size: 0.8125rem;
			padding: 0.25rem 0.25rem 0.25rem 0;
		}

		&_control {
			width: 170px;
			@include clearfix();
		}

		&_start {
			width: 50%;
			float: left;
			position: relative;

			.filter__price_input {
				@include border-radius(4px 0 0 4px);
			}
		}

		&_end {
			float: left;
			width: 50%;
			position: relative;

			.filter__price_input {
				margin-left: -1px;
				@include border-radius(0 4px 4px 0);
			}
		}

		&_input {
			margin: 0;
			color: #333;
			z-index: 10;
			width: 100%;
			outline: none;
			display: block;
			cursor: pointer;
			overflow: hidden;
			background: #fff;
			position: relative;
			font-size: 0.75rem;
			line-height: 1.25rem;
			text-decoration: none;
			border: 1px solid #c9c9c9;
			padding: 0.25rem 0.5rem 0.25rem 0.5rem;
			@include placeholder(#666);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				z-index: 20;
				border-color: #5d5b5b;
				@include placeholder(transparent);
			}
		}

		&_type {

			.mySelect {
				width: auto;
				min-width: inherit;

				&.open {

					.mySelect__btn {
						color: $color-blue;
						background: transparent;

						&:before {
							color: $color-blue;
						}

						span {
							border-bottom-color: $color-blue;
						}
					}
				}

				&__btn {
					border: none;
					padding: 0.25rem 1rem 0.25rem 0.25rem;

					span {
						border-bottom: 1px solid rgba(0,0,0, 0.5);
					}

					&:before {
						right: 0;
					}

					&:hover {
						color: $color-blue;
						background: transparent;

						&:before {
							color: $color-blue;
						}

						span {
							border-bottom-color: $color-blue;
						}
					}
				}

				&__dropdown {
					right: 0;
					left: auto;

					&:before {
						left: auto;
						right: 25px;
					}

					&:after {
						left: auto;
						right: 26px;
					}
				}
			}
		}
	}

	&__button {
		color: $color-blue;
		cursor: pointer;
		font-weight: 400;
		outline: none;
		padding: 0.25rem 1rem;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		background: #fff;
		display: inline-block;
		vertical-align: middle;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		text-decoration: none;
		position: relative;
		border: 1px solid $color-blue;
		@include border-radius(0.9375rem);
		@include transition(.2s);

		&:hover {
			color: #fff;
			background: $color-blue;
			border-color: $color-blue;
		}

		&:focus,
		&.focus {
			outline: 0;
		}

		&.btn-blue {
			color: #fff;
			background: $color-blue;
			border-color: $color-blue;

			&:hover {
				color: #fff;
				background: $color-blue-hover;
				border-bottom-color: $color-blue-hover;
			}
		}
	}

	.form-checkbox {
		margin-top: 0.3125rem;
	}

	&__input {
		margin: 0;
		width: 100%;
		outline: none;
		display: inline-block;
		color: #333;
		overflow: hidden;
		background: #fff;
		padding: 0.25rem 0.625rem 0.25rem 0.625rem;
		cursor: pointer;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		text-decoration: none;
		position: relative;
		border: 1px solid #c9c9c9;
		@include border-radius(4px);
		@include placeholder(#666);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus {
			@include placeholder(transparent);
		}
	}

	&__params {
		color: #7a7a7a;
		font-weight: 400;
		outline: none;
		margin-bottom: 1rem;
		padding: 0.25rem 1.725rem 0.25rem 0.5rem;
		user-select: none;
		text-align: left;
		white-space: nowrap;
		background: #f4f4f4;
		display: inline-block;
		vertical-align: middle;
		font-size: 0.75rem;
		line-height: 1rem;
		text-decoration: none;
		position: relative;
		@include border-radius(0.75rem);
		@include transition(.2s);

		&:hover {
			color: #7a7a7a;
			background: rgba(43,135,219,0.1);
		}

		&:focus,
		&.focus {
			outline: 0;
		}

		&_name {
			max-width: 100%;
			overflow: hidden;
			display: inline-block;
		}

		&_remove {
			z-index: 10;
			top: 0.4375rem;
			right: 0.5rem;
			cursor: pointer;
			width: 0.625rem;
			height: 0.625rem;
			position: absolute;

			&:after,
			&:before {
				top:50%;
				left: 50%;
				height: 1px;
				z-index: 50;
				content: '';
				width: 0.625rem;
				display: inline-block;
				position: absolute;
				background: #7a7a7a;
				margin: -1px 0 0 -0.3125rem;
			}

			&:after {
				@include rotate(45deg);
			}

			&:before {
				@include rotate(-45deg);
			}

			&:hover {
				&:after,
				&:before {
					background: #000;
				}
			}
		}
	}

	&__heading {
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 0.875rem;
		padding: 0.8125rem 0;
		@include clearfix();

		&_toggle {
			float: left;
			cursor: pointer;
			font-weight: 400;
			color: $color-base;

			&:hover {
				color: $color-base;
			}
		}

		&_map {
			float: right;
			cursor: pointer;
			color: $color-base;

			&:hover {
				color: $color-base;
			}
		}
	}

	&__content {
		display: none;
	}

	&.open {

		.filter__heading {

			&_toggle {
				color: $color-blue;
			}
		}

		.filter__content {
			display: block;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__row {
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__elem {

			&:first-child {
				width: auto;
			}
		}

		&__group {
			width: auto;
			@include flexbox();
			border: 1px solid #c9c9c9;
			@include border-radius(0.9375rem);

			.mySelect {
				min-width: 100px;

				&.open {

					.mySelect__btn {
						color: $color-blue;
						background: transparent;

						&:before {
							color: $color-blue;
						}
					}
				}

				&__btn {
					border: none;
					background: transparent;
					border-left: 1px solid #c9c9c9;
					@include border-radius(0);

					&:hover {
						color: $color-blue;

						&:before {
							color: $color-blue;
						}
					}
				}
			}


			&_col {
				margin-bottom: 0;

				&:first-child {

					.mySelect {

						&__btn {
							border-left: none;
						}
					}

				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 1.25rem;

		&__heading {
			display: none;
		}

		&__content {
			display: block;
		}
	}

	@media (min-width: $screen-xl-min) {

	}
}


.placeModal {
	padding: 0;
	width: 300px;
	background: #fff;

	&__heading {
		color: $color-base;
		font-size: 1.25rem;
		line-height: 1.25rem;
		padding: 1rem 1.25rem;
		background: #f5f5f5;
		text-transform: uppercase;
		border-bottom: 1px solid #c9c9c9;
	}

	&__body {
		padding: 1.25rem 1.25rem;
	}

	&__list {
		list-style: none;
		margin: 0 0.625rem;
		padding: 1rem 0 0 0;
		@include flexbox();
		@include flex-wrap(wrap);

		> li {
			width: 100%;
			padding: 0.25rem 0.5rem;
		}
	}

	.form-control {
		max-width: 300px;
	}

	@media (min-width: $screen-sm-min) {
		width: 500px;

		&__heading {
			padding: 1rem 1.5rem;
		}

		&__body {
			padding: 1.5rem 1.5rem;
		}

		&__list {

			> li {
				width: 50%;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 650px;

		&__list {

			> li {
				width: 33.33%;
			}
		}
	}

	.fancybox-close-small {
		top: 5px;
	}
}

.filterModal {
	padding: 0;
	width: 300px;
	background: #fff;

	&__body {
		padding: 1.5rem 1.25rem;
	}

	&__bottom {
		text-align: center;
		background: #f5f5f5;
		padding: 1.5rem 1.25rem;
		border-top: 1px solid #f4f4f4;
	}

	&__row {
		margin: 0;
		padding: 0.25rem 0;
		list-style: none;
		@include clearfix();
		@include flexbox();
		@include flex-direction(column);

		> li {

			&:first-child {
				font-weight: 600;
				line-height: 0.875rem;
				font-size: 0.8125rem;
				padding: 0.5rem 0.625rem 0.5rem 0;
			}

			&:last-child {
				@include flex(1);
			}
		}
	}

	&__content {
		margin: 0 -0.5rem;
	}

	&__elem {
		float: left;
		padding: 0 0.5rem;
		margin-bottom: 0.75rem;
		display: inline-block;
	}

	&__amount {
		@include flexbox();

		&_label {
			padding: 0.375rem 0.5rem 0.375rem 0;
			display: inline-block;
		}

		&_control {
			width: 140px;
			@include clearfix();
		}

		&_start {
			width: 50%;
			float: left;
			display: block;

			.filterModal__amount_input {
				@include border-radius(4px 0 0 4px);
			}
		}

		&_end {
			width: 50%;
			float: left;
			display: block;

			.filterModal__amount_input {
				margin-left: -1px;
				@include border-radius(0 4px 4px 0);
			}
		}

		&_input {
			margin: 0;
			outline: none;
			display: block;
			color: #333;
			width: 100%;
			overflow: hidden;
			background: #fff;
			padding: 0.25rem 0.75rem 0.25rem 0.75rem;
			cursor: pointer;
			font-size: 0.8125rem;
			line-height: 1.25rem;
			text-decoration: none;
			position: relative;
			border: 1px solid #c9c9c9;
			@include placeholder(#666);

			&::-ms-clear {
				display: none;
				width: 0;
				height: 0;
			}

			&:focus {
				z-index: 10;
				border-color: #5d5b5b;
				@include placeholder(transparent);
			}
		}
	}


	@media (min-width: $screen-sm-min) {
		width: 500px;

		&__row {
			@include flex-direction(row);

			> li {

				&:first-child {
					width: 130px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 720px;
	}

	@media (min-width: $screen-lg-min) {
		width: 880px;
	}
}


