.footer {
	color: #7a7a7a;
	background: #fff;
	border-top: 1px solid #e4e4e4;

	&__nav {
		font-size: 0;
		line-height: 0;
		text-align: center;
		padding: 0.6875rem 0;

		ul {
			padding: 0;
			list-style: none;
			margin: 0 -0.5rem;

			li {
				display: inline-block;
				padding: 0.375rem 0.5rem;

				a {
					color: $color-base;
					line-height: 1rem;
					font-size: 0.8125rem;
					text-decoration: none;
					border-bottom: 1px solid transparent;

					&:hover {
						border-bottom-color: rgba(0,0,0,0.3);
					}
				}
			}
		}
	}

	&__content {
		text-align: center;
		padding: 0.75rem 0;
		color: #fff;
		background: #2C2C34;

		a {
			color: #fff;
			text-decoration: none;
		}
	}

	&__copy {
		color: #fff;
		line-height: 1rem;
		font-size: 0.8125rem;
	}

	&__link {
		margin: 0 -0.75rem;
		font-size: 0;
		line-height: 0;
		list-style: none;
		padding: 0.5rem 0 0 0;

		> li {
			padding: 0 0.75rem;
			display: inline-block;

			> a {
				color: #fff;
				line-height: 1rem;
				font-size: 0.8125rem;
				text-decoration: none;
				border-bottom: 1px solid rgba(255,255,255,0.3);;

				&:hover {
					border-bottom-color: rgba(255,255,255,1);
				}
			}
		}
	}

	&__counter {
		display: none;
	}

	@media (min-width: $screen-sm-min) {

		&__content {
			text-align: left;
		}

		&__copy {
			float: left;
			display: inline-block;
		}

		&__link {
			float: right;
			padding-top: 0;
			text-align: right;
		}
	}

	@media (min-width: $screen-md-min) {

		&__nav {
			text-align: left;
		}

		&__copy {
			padding-top: 7px;
			margin-right: 45px;
		}

		&__link {
			float: left;
			padding-top: 7px;
		}

		&__counter {
			width: 31px;
			float: right;
			display: block;
			font-size: 0;
			line-height: 0;

			a,
			img {
				display: block;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-xl-min) {

	}
}