
// Header


.header {
	z-index: 999;
	@include box-shadow(0 5px 10px 0 rgba(0, 0, 0, .1));

	&__top {
		color: #fff;
		position: relative;
		background: #475258;

		a {
			color: #fff;
			text-decoration: none;
		}

		&_logo {
			float: left;
			color: #fff;
			font-size: 1.25rem;
			line-height: 1.25rem;
			padding: 0.625rem;
			display: inline-block;
		}
	}

	&__bottom {
		display: none;
		padding: 10px 0;
		background: #fff;
		position: relative;
	}

	&__topNav {
		float: left;
		padding: 0;
		display: none;
		margin: 0 -0.625rem;
		line-height: 1.25rem;
		font-size: 0.8125rem;
		list-style: none;
		@include clearfix();
		border-right: 1px solid rgba(255,255,255,0.2);

		> li {
			float: left;
			border-left: 1px solid rgba(255,255,255,0.2);

			> a {
				color: #fff;
				display: inline-block;
				padding: 0.625rem 0.625rem;
				text-decoration: none;


				&:hover {
					background: rgba(255,255,255,0.2);
				}
			}
		}
	}

	&__toggle {
		float: left;
		display: block;
		width: 2.5rem;
		height: 2.5rem;
		border-left: 1px solid rgba(255,255,255,0.2);
		border-right: 1px solid rgba(255,255,255,0.2);
		@include transition(.3s);
		color: #fff;
		font-size: 1.25rem;
		padding: 0.625rem 0;
		line-height: 1.25rem;
		text-decoration: none;
		text-align: center;

		i {
			@include transition(.3s);
		}

		&:hover {
			background: rgba(255,255,255,0.2);
		}

		&.open {
			background: #1E1E1E;

			i {
				@include rotate(90deg);
				@include transition(.3s);
			}
		}
	}

	&__logo {
		float: left;
		color: #121212;
		padding-top: 25px;
		display: block;
		font-size: 25px;
		line-height: 25px;
		text-decoration: navajowhite;
		text-transform: uppercase;
		background: url("../img/logo.png") 50% 0 no-repeat;
	}

	&__post {
		float: right;
		color: #fff;
		border: none;
		margin-top: 8px;
		font-weight: 400;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		padding: 0.375rem 0.625rem;
		outline: none;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		background: $color-blue;
		display: inline-block;
		vertical-align: middle;
		text-decoration: none;

		@include border-radius(5px);
		@include transition(.2s);

		i {
			margin-right: 6px;
		}

		&:hover {
			color: #fff;
			background: $color-blue-hover;
		}

		&:focus,
		&.focus {
			outline: 0;
		}
	}

	&__favorite {
		position: relative;

		small {
			top: 3px;
			right: 3px;
			width: 1.125rem;
			height: 1.125rem;
			color: #fff;
			font-weight: 600;
			padding: 0.25rem 0;
			font-size: 0.625rem;
			line-height: 0.625rem;
			display: inline-block;
			position: absolute;
			background: $color-orange;
			@include border-radius(50%);
		}

		&:hover {

			small {
				background-color: $color-orange-hover;
			}
		}
	}

	&__nav {
		display: none;
		margin: 0 auto;
		padding: 5px 15px;
		list-style: none;
		@include clearfix();

		> li {

			> a {
				color: #fff;
				padding: 0.375rem 0.5rem;
				text-decoration: none;
				display: inline-block;
				@include border-radius(3px);

				&:hover {
					color: #fff;
				}
			}
		}
	}

	&__link {
		margin: 0;
		padding: 0;
		list-style: none;
		float: right;
		@include clearfix();

		> li {
			float: left;
			border-left: 1px solid rgba(255,255,255,0.2);

			&:last-child {
				border-right: 1px solid rgba(255,255,255,0.2);
			}

			> a {
				color: #fff;
				width: 	2.5rem;
				font-size: 1.25rem;
				padding: 0.625rem 0;
				line-height: 1.25rem;
				text-decoration: none;
				text-align: center;
				display: inline-block;
				@include transition(.3s);

				i {
					@include transition(.3s);
				}

				&:hover {
					background: rgba(255,255,255,0.2);
				}

				span {
					display: none;
				}

				&:hover {
					@include transition(.3s);

					i {
						@include rotate(360deg);
						@include transition(.3s);
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__top {

			&_logo {
				display: none;
			}
		}

		&__bottom {
			display: block;
		}

		&__topNew {
			display: none;
		}


		&__topNav {
			display: block;
		}

		&__toggle {
			display: none;
		}

		&__nav {
			margin: 0 0 0 1rem;
			float: left;
			padding: 8px 0;
			width: auto;
			display: block;
			font-size: 0.8125rem;

			> li {
				float: left;

				> a {
					color: $color-base;

					&:hover {
						color: $color-base;
						background: #e4e4e4;
					}
				}

				&:active {

					> a {
						background: #e4e4e4;
					}
				}
			}
		}
	}
}


.page-map {

	.headereee {
		top: 0;
		left: 0;
		right: 0;
		position: fixed;
	}

	.header__bottom {
	//	display: none;
	}
}



@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}

@media (min-width: $screen-xl-min) {

}


.nav {
	left: 0;
	right: 0;
	top: 100%;
	min-height: calc(100vh - 40px);
	display: none;
	padding: 5px 0;
	font-size: 0.875rem;
	line-height: 1.25rem;
	background: #475258;
	position: absolute;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	@include clearfix();

	&__primary {
		margin: 0 auto;
		padding: 5px 15px;
		list-style: none;
		@include clearfix();

		> li {

			> a {
				color: #fff;
				padding: 0.375rem 0.5rem;
				text-decoration: none;
				display: inline-block;
				@include border-radius(3px);

				&:hover {
					color: #fff;
				}
			}
		}
	}

	&__second {
		margin: 0 auto;
		padding: 5px 15px;
		list-style: none;
		@include clearfix();

		> li {

			> a {
				color: #fff;
				padding: 0.375rem 0.5rem;
				text-decoration: none;
				display: inline-block;
			}
		}
	}

	&.open {
		display: block;
	}

	@media (min-width: $screen-sm-min) {

		&__primary {
			width: 540px;
		}

		&__second {
			width: 540px;
		}
	}

	@media (min-width: $screen-md-min) {
		top: auto;
		left: auto;
		right: auto;
		float: left;
		min-height: inherit;
		padding: 0;
		display: block;
		position: relative;
		border-top: none;
		background: transparent;
		border-bottom: none;

		&__primary {
			display: none;
		}


		&__second {
			width: auto;
			padding: 0;
			float: left;
			border-right: 1px solid rgba(255,255,255,0.2);

			> li {
				float: left;
				border-left: 1px solid rgba(255,255,255,0.2);

				> a {
					color: #fff;
					display: inline-block;
					padding: 0.625rem 0.625rem;
					text-decoration: none;


					&:hover {
						background: rgba(255,255,255,0.2);
					}
				}
			}
		}
	}
}
