* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}



body {
	color: $color-base;
	font-family: $font-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}

.page {
	width: 100%;
	min-height: 100vh;
	@include flexbox();
	@include flex-direction(column);
}

.main {
	padding-top: 2rem;
	padding-bottom: 2rem;
	background: #f3f4f6;
	@include flex(1);
}

.main-white {
	background: #fff;
}


.main-row {
	@include flexbox();
	@include justify-content(space-between);

	.main-right {
		display: none;
	}

	.main-left {
		padding-right: 2rem;
		@include flex(1);
	}

	@media (min-width: $screen-lg-min) {

		.main-right {
			width: 250px;
			display: block;
		//	padding-top: 2.75rem;
		}
	}

	@media (min-width: $screen-xl-min) {

		.main-left {
			padding-right: 3rem;
		}

		.main-right {
			width: 300px;
		}
	}
}

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin: 0;
	padding: 0;
	font-family: $font-head;
	line-height: 1.2;
}

h1, .h1 {
	font-weight: 700;
	font-size: 1.375rem;
	margin-bottom: 1rem;
}

h2, .h2 {
	font-size: 	1.75rem;
	margin-bottom: 1.25rem;
}

h3, .h3 {
	font-size: 1.5rem;
	margin-bottom: 1.25rem;
}

h4, .h4 {
	font-weight: 500;
	font-size: 1.25rem;
	margin-bottom: 1.25rem;
}

h5, .h5 {
	font-weight: 500;
	font-size: 1rem;
	margin-bottom: 0.625rem;
}

h6, .h6 {
	font-size: 0.875rem;
	margin-bottom: 0.75rem;
}

p {
	margin: 0 0 0.75rem 0;
}

a {
	color: $color-blue;
	text-decoration: none;

	&:hover {
		color: $color-orange;
		text-decoration: none;
	}
}


.social {
	font-size: 0;
	line-height: 0;
	margin: 0 -0.25rem;
	text-align: center;

	 a {
		 color: #fff;
		 width: 2.5rem;
		 height: 2.5rem;
		 margin: 0 0.25rem;
		 text-align: center;
		 padding: 0.625rem 0;
		 font-size: 1.25rem;
		 text-decoration: none;
		 display: inline-block;
		 @include border-radius(50%);
	}

	&__vk {
		background: #5a79aa;

		&:hover {
			background: #2C2C34;
		}
	}

	&__twitter {
		background: #3298e5;

		&:hover {
			background: #2C2C34;
		}
	}

	&__odnoklassniki {
		background: #ec7c21;

		&:hover {
			background: #2C2C34;
		}
	}

	&__google {
		background: #e25f50;

		&:hover {
			background: #2C2C34;
		}
	}

	&__facebook {
		background: #39579D;

		&:hover {
			background: #2C2C34;
		}
	}
}

.tabs {

	.tabs-item {
		display: none;

		&.active {
			display: block;
		}
	}
}


// Лайки

.favourites {
	z-index: 5;
	width: 25px;
	height: 20px;

	svg {
		width: 100%;
		height: 100%;
	}

	.heart{
		width: 25px;
		height: 20px;
		display: inline-block;
		cursor: pointer;
		animation-duration: .45s;
		animation-timing-function: ease;
		animation-direction: alternate;

		svg{
			fill: transparent;
			color: transparent;
			stroke: #999;
			transition: all .55s ease;
		}
	}

	&:hover {

		.heart {

			svg {
				stroke: $color-blue;
			}
		}
	}

	.layer {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
		width: 100%;
		height: 100%;
		display: inline-block;
		transform: scale(0);
		pointer-events: none;

		svg{
			fill: $color-blue;
			color: $color-blue;
		}
	}


	.hackyBox{
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		height: 20px;
		opacity: 0;
		cursor: pointer;

		&:checked {
			~ .heart {
				animation-name: love;

				svg {
					stroke: $color-blue;
				}
			}
			~ .layer {
				transform: scale(1);
				opacity: 1;
				z-index: -1;
				transition: transform .35s ease, opacity .35s ease;
			}
		}
	}
}

@keyframes love {
	0% {
		transform: scale(1);
	}
	25%{
		transform: scale(0.94);
	}
	50%{
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 20px;
	fill: $color-blue;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
