
.authModal {
	padding: 0;
	min-width: 300px;
	background: #fff;
	@include border-radius(4px);

	&__heading {
		padding: 0 1.5rem;
		border-bottom: 2px solid #F3F4F6;

		> ul {
			padding: 0;
			list-style: none;
			margin: 0 0 -2px 0;
			@include clearfix();

			> li {
				float: left;

				> a {
					color: #7A7A7A;
					padding: 1.25rem 0.625rem;
					font-size: 0.875rem;
					line-height: 1.25rem;
					display: inline-block;
					text-decoration: none;
					text-transform: uppercase;
					border-bottom: 2px solid transparent;

					&:hover {
						color: $color-base;
					}
				}

				&.active {

					> a {
						border-bottom-color: $color-blue;
					}
				}
			}
		}
	}

	&__social {
		position: relative;
		padding: 1.75rem 1.25rem;
		border-bottom: 2px solid #F3F4F6;
	}

	&__or {
		left: 50%;
		z-index: 20;
		width: 3rem;
		bottom: -10px;
		color: #7A7A7A;
		background: #fff;
		text-align: center;
		position: absolute;
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin-left: -1.5rem;
		display: inline-block;
	}

	&__form {
		padding: 1.875rem 1.5rem 1.5rem 1.5rem;
	}

	&__text {
		color: #7A7A7A;
		text-align: center;
	}

	.form-support {
		margin: 0;
		padding: 0;
		list-style: none;
		@include clearfix();

		li {

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}
		}
	}

	.btn {
		width: 100%;
		margin-top: 0.5rem;
	}

	@media (min-width: $screen-sm-min) {
		width: 380px;

		&__heading {
			padding: 0 2rem;
		}

		&__form {
			padding: 1.875rem 2rem 1.5rem 2rem;
		}
	}
}

.fancybox-close-small {
	top: 8px !important;
	right: 8px !important;
}

.modal {
	padding: 0;
	min-width: 300px;
	background: #fff;
	@include border-radius(4px);

	&__heading {
		font-weight: 700;
		font-size: 1.125rem;
		line-height: 1.5rem;
		padding: 1rem 1.5rem;
	}

	&__content {
		padding: 0 1.5rem 1rem 1.5rem;
	}

	@media (min-width: $screen-sm-min) {
		width: 500px;
	}
}