
.newsTitle {
	padding: 1rem 0 0.625rem 0;
	border-bottom: 2px solid #182930;
	@include clearfix();

	h1 {
		font-weight: 500;
		margin-bottom: 0;
		text-transform: uppercase;
	}

	&__link {
		margin: 0 -0.5rem;
		padding: 0.375rem 0 0 0;
		float: right;
		display: none;
		list-style: none;
		@include clearfix();

		> li {
			padding: 0 0.5rem;
			float: left;


			> a {
				color: #7a7a7a;
				text-decoration: none;

				&:hover {
					color: #121212;
					text-decoration: none;
				}
			}

			&.active {

				> a {
					color: #121212;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		h1 {
			float: left;
		}

		&__link {
			display: block;
		}
	}

}

.newsItem {
	padding: 1.5rem 0;
	border-bottom: 1px solid #e4e4e4;
	@include flexbox();
	@include flex-direction(column);

	&__image {
		outline: none;
		display: block;
		margin: 0.5rem 0 1rem;

		img {
			display: block;
		}
	}

	&__content {

	}

	&__title {
		color: #121212;
		font-weight: 600;
		font-size: 1.125rem;
		line-height: 1.25rem;
		margin-bottom: 0.625rem;
	}

	&__introtext {
		display: block;
		color: #121212;
		margin: 0.5rem 0 0.625rem;

		&:hover {
			color: #121212;
		}
	}

	&__tags {
		color: #7a7a7a;
		font-size: 0.75rem;
		line-height: 1.25rem;

		span {
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		@include flex-direction(row-reverse);

		&__image {
			margin: 0;
			width: 186px;
		}

		&__content {
			padding-right: 1rem;
			@include flex(1);
		}
	}

	@media (min-width: $screen-md-min) {

	}
}

.newsList {
	margin-bottom: 2rem;
}

.sidebar {
	margin-bottom: 1.25rem;
	border: 1px solid #e4e4e4;
	@include border-radius(4px);

	&__title {
		color: #121212;
		font-weight: 500;
		font-size: 0.875rem;
		line-height: 1.25rem;
		letter-spacing: 1px;
		padding: 1rem 1rem;
		text-transform: uppercase;
		border-bottom: 2px solid #182930;
	}

	&__elem {
		padding: 1rem 1.25rem;
		border-bottom: 1px solid #e4e4e4;

		&:last-child {
			border-bottom: none;
		}

		&_title {
			color: $color-base;
			font-weight: 600;
			line-height: 1rem;
			text-decoration: none;

			&:hover {
				color: $color-orange;
			}
		}

		&_text {
			font-weight: 300;
			padding: 0.5rem 0;
		}

		&_time {
			color: #7a7a7a;
			font-size: 0.75rem;
			line-height: 1.25rem;
		}
	}


	@media (min-width: $screen-lg-min) {

	}
}

.sideSubscribe {
	padding: 1.25rem;
	background: #182930;
	@include border-radius(4px);

	&__title {
		color: #fff;
		font-size: 0.875rem;
		line-height: 1.25rem;
		letter-spacing: 1px;
		margin-bottom: 0.5rem;
		text-transform: uppercase;
		-ms-flex-item-align: start;
		align-self: flex-start;
		font-weight: 500;
	}

	&__form {
		position: relative;
	}

	&__input {
		margin: 0;
		width: 100%;
		outline: none;
		display: inline-block;
		color: #333;
		overflow: hidden;
		background: #fff;
		padding: 0.625rem 1.5rem 0.625rem 0.625rem;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		text-decoration: none;
		position: relative;
		border: 1px solid #fff;
		@include border-radius(4px);
		@include placeholder(#666);

		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:focus {
			@include placeholder(transparent);
		}
	}

	&__btn {
		top: 0;
		right: 0;
		margin: 0;
		border: none;
		outline: none;
		color: #182930;
		padding: 0.75rem 0;
		font-size: 1.125rem;
		line-height: 1.2rem;
		width: 2.625rem;
		height: 2.625rem;
		text-align: center;
		display: inline-block;
		position: absolute;
		cursor: pointer;
		background: $color-orange;
		@include border-radius(0 0.25rem 0.25rem 0);

		&:hover {
			background: $color-orange-hover;
		}
	}
}


.content {
	font-size: 0.875rem;
	line-height: 1.25rem;

	&__heading {
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.75rem;
		margin-bottom: 1rem;


		@media (min-width: $screen-sm-min) {
			font-size: 2rem;
			line-height: 2.25rem;
		}
	}

	&__date {
		color: #7a7a7a;
		font-size: 0.75rem;
		line-height: 1.25rem;
		margin-bottom: 1.25rem;

		span {
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__image {
		margin-bottom: 1.5rem;

		img {
			display: block;
		}
	}
}

.comment {
	margin-top: 2rem;

	&__login {
		width: 100%;
		padding: 2rem 0;
		@include clearfix();
		border-top:  2px solid #121212;
		border-bottom: 2px solid #121212;

		&_button {
			margin-bottom: 1.25rem;
		}

		&__social {

		}
	}

	&__list {
		padding-top: 1.5rem;
	}

	&__form {
		padding: 1.25rem;
		background: #f4f4f4;
		@include border-radius(0.25rem);

		.commentItem__author {
			margin-bottom: 1.25rem;
		}
	}

	@media (min-width: $screen-sm-min) {


		&__login {

			&_button {
				float: left;
				margin-bottom: 0;
			}


			&_social {
				float: right;
			}
		}

	}

	.no-photo {
		width: 2.5rem;
		height: 2.5rem;
		color: #121212;
		padding: 0.75rem 0;
		font-size: 1rem;
		line-height: 1rem;
		text-align: center;
		background: #d1d1d1;
		display: inline-block;
		overflow: hidden;
		@include border-radius(50%);
	}
}

.commentItem {
	margin-bottom: 1.75rem;

	&__author {
		height: 2.5rem;
		position: relative;
		padding-left: 3.5rem;

		@include flexbox();

		&_avatar {
			top: 0;
			padding: 0;
			font-size: 0;
			line-height: 0;
			left: 0;
			width: 2.5rem;
			height: 2.5rem;
			overflow: hidden;
			position: absolute;
			display: inline-block;
			@include border-radius(50%);
		}

		&_wrap {
			margin: auto 0;

			strong {
				color: #121212;
				line-height: 1.25rem;
				display: block;
				font-weight: 500;
			}

			span {
				color: #7a7a7a;
				font-size: 0.75rem;
			}
		}
	}

	&__text {
		padding: 0.75rem 0 0.5rem 0;
	}

	&__answer {
		font-size: 0.75rem;
		font-weight: 700;
		line-height: 1.33;
		color: #7a7a7a;

		&:hover {
			color: #000;
		}
	}
}

