
.totalOffers {
	padding: 0.5rem 0.75rem;
	display: inline-block;
	margin-bottom: 1.25rem;
	background: #e4e4e4;
	@include border-radius(0.25rem);
	@include clearfix();

	&__text {
		float: left;
		padding-right: 0.5rem;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		display: inline-block;
	}

	&__sort {
		float: left;
		display: inline-block;

		.mySelect {
			min-width: inherit;

			.mySelect__btn {
				border: 0;
				padding: 0;
				color: $color-blue;
				line-height: 1.25rem;
				background: transparent;
				@include border-radius(0);

				&:before {
					display: none;
				}
			}

			.mySelect__selected {
				border-bottom: 1px dotted $color-blue;
			}
		}
	}
}

.offer {
	background: #fff;
	border: 1px solid #e8e8e8;
	margin-bottom: 0.625rem;

	&.offer-premium {
		border-color: #ffb061;
		background-color: #fff4d4;
	}

	.slide-nav {
		top: 50%;
		z-index: 10;
		color: #fff;
		height: 1.5rem;
		font-size: 1.5rem;
		cursor: pointer;
		position: absolute;
		line-height: 1.5rem;
		display: inline-block;
		margin-top: -0.75rem;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

		&.prev {
			left: 15px;
		}

		&.next {
			right: 15px;
		}
	}

	&__media {
		margin: 0;
		height: 180px;

		&_wrap {
			width: 100%;
			overflow: hidden;
		}
	}

	&__slider {
		max-width: 100%;

		&_item {
			width: 100%;
			height: 180px;

			img {
				width: 100%;
				height: 100%;
				max-width: 100%;
				display: block;
				object-fit: cover;
				-o-object-fit: cover;
			}
		}

		.slick-slide {
			height: 180px;
		}
	}

	&__content {
		padding: 1rem;
	}

	&__row {
		margin: 0 -0.25rem;
		@include flexbox();
		@include flex-wrap(wrap);
	}

	&__value {
		font-size: 1rem;
		line-height: 1.5rem;
		margin-bottom: 0.25rem;
	}

	&__data {
		color: #7a7a7a;
		line-height: 1rem;
	}

	&__address {
		width: 100%;
		padding: 0 0.25rem;
		margin-bottom: 0.5rem;

		&_city {
			color: $color-base;
			font-size: 1rem;
			line-height: 1.5rem;
			margin-bottom: 0.25rem;

			&:hover {
				color: $color-orange;
			}
		}

		&_building {
			color: $color-base;
		}

		&_place {

			a {
				color: $color-base;

				&:hover {
					color: $color-orange;
				}
			}
		}
	}

	&__price {
		width: 50%;
		padding: 0 0.25rem;
		margin-bottom: 0.5rem;

		&_credit {

		}
	}

	&__type {
		width: 100%;
		padding: 0 0.25rem;
		margin-bottom: 0.5rem;
	}

	&__area {
		padding: 0 0.25rem 0 1rem;
		margin-bottom: 0.5rem;
	}

	&__floor {
		width: 50%;
		display: none;
		padding: 0 0.25rem;
		margin-bottom: 0.5rem;
	}

	&__description {
		display: none;
		overflow: hidden;
	}

	&__contact {

		&_phone {
			width: 100%;
			display: inline-block;
			color: $color-base;
			font-weight: 600;
			font-size: 1rem;
			line-height: 1.25rem;

			&:hover {
				color: $color-base;
			}
		}

		&_author {
			display: none;
			color: $color-base;
			font-weight: 400;
			line-height: 1.25rem;
		}

		&_name {

		}

		&_status {

		}
	}

	&__view {
		color: #fff;
		cursor: pointer;
		font-weight: 400;
		outline: none;
		padding: 0.25rem 0.5rem;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		background: $color-blue;
		display: inline-block;
		vertical-align: middle;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		text-decoration: none;
		position: relative;
		border: 1px solid $color-blue;
		@include border-radius(4px);
		@include transition(.2s);

		&:hover {
			color: #fff;
			background: $color-blue-hover;
			border-color: $color-blue-hover;
		}

		&:focus,
		&.focus {
			outline: 0;
		}

		i {
			margin-right: 6px;
		}
	}

	&__time {
		line-height: 1.25rem;
		display: inline-block;
		padding: 0.3125rem 0;
	}

	&__adv {
		margin-bottom: 0.625rem;
		@include clearfix();

		&_id {
			float: left;
			color: #121212;
			display: block;
			margin-right: 0.5rem;
			font-size: 0.875rem;
			line-height: 1.25rem;
		}

		&_author {
			float: left;

			a {
				color: #585858;
				font-weight: 700;
				line-height: 1rem;
				text-align: center;
				letter-spacing: 1px;
				font-size: 0.625rem;
				display: inline-block;
				text-transform: uppercase;
				padding: 0.125rem 0.25rem 0.125rem 0.25rem;
				background-color: rgba(18,18,18,.1);
				@include border-radius(0.125rem);
			}
		}
	}

	&__heading {
		margin-bottom: 0.625rem;

		&_name {
			font-size: 1rem;
			font-weight: 700;
			line-height: 1.25rem;

			a {
				color: $color-base;
				opacity: 0.9;

				&:hover {
					opacity: 1;
				}
			}
		}

		&_house {
			line-height: 1.25rem;

			a {
				color: $color-blue;
			}
		}
	}

	&__cost {
		margin-bottom: 0.625rem;

		&_primary {
			font-size: 1.25rem;
			font-weight: 700;
			line-height: 1.5rem;
			display: inline-block;
			padding: 0.125rem 0.25rem 0.125rem 0.25rem
		}

		&_second {
			display: block;
			color: #7a7a7a;
			font-size: 0.875rem;
			line-height: 1.25rem;
			padding: 0 0.25rem;
		}
	}

	&__data {
		margin-bottom: 0.625rem;

		&_address {

			a {
				color: $color-base;

				&:hover {
					color: $color-base;
					text-decoration: underline;
				}
			}
		}

		&_intro {
			display: none;
			overflow: hidden;
			line-height: 1rem;
			height: 2rem;
			margin-top: 0.5rem;
			margin-bottom: 0.625rem;
		}
	}


	&__bottom {
		width: 100%;
		@include clearfix();
	}

	&__phone {
		color: #000;
		display: block;
		font-size: 1.125rem;
		font-weight: 500;
		padding: 0.3125rem 0;
		line-height: 1.25rem;

		&:hover {
			color: #000;
		}
	}

	&__action {
		padding: 0.625rem 0 0 0;
		margin: 0 -0.25rem;
		list-style: none;
		@include clearfix();

		> li {
			float: left;
			padding: 0 0.25rem;

			&:last-child {
				display: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		&__media {
			height: 230px;
		}

		&__slider {

			&_item {
				height: 230px;
			}

			.slick-slide {
				height: 230px;
			}
		}

		&__content {
			padding: 1rem 1.25rem;
			@include clearfix();
			@include flexbox();
			@include flex-wrap(wrap);
			@include justify-content(space-betwee);
		}

		&_info {
			float: left;
			width: 100%;
		}

		&__price {
			width: 33.33%;
			margin-bottom: 0;
		}

		&__area {
			width: 33.33%;
			margin-bottom: 0;
		}

		&__type {
			width: 33.33%;
			margin-bottom: 0;
		}

		&__info {
			@include flex(1);
			margin-bottom: 0.625rem;
		}

		&__contact {
			float: left;
			@include flex(1);

			&_author {
				display: block;
			}
		}

		&__action {
			float: right;
			padding-top: 0;
		}

		&__phone {
			float: left;
		}

		&__data {
			@include flex(1);
		}
	}

	@media (min-width: $screen-md-min) {
		@include flexbox();

		&:hover {
			background: rgba(43,135,219,0.05);

			.slide-nav {
				opacity: 1;
				visibility: visible;
				@include transition(.3s);
			}
		}

		&.offer-premium {

			&:hover {
				background: #FFF4B3;
			}
		}

		.slide-nav {
			opacity: 0;
			visibility: hidden;
			@include transition(.3s);
		}

		&__media {
			margin: 0;
			width: 260px;
			max-width: 260px;
			height: 255px;
		}

		&__slider {

			&_item {
				height: 255px;
			}

			.slick-slide {
				height: 255px;
			}
		}

		&__content {
			@include flex(1);
		}

		&__base {
			width: 100%;
			@include flexbox();
			@include flex-wrap(wrap);
		}

		&__adv {
			width: 100%;
		}

		&__heading {
			width: 290px;
		}

		&__cost {
			width: auto;

			&_primary {
				margin-top: -0.125rem;
			}
		}

		&__bottom {
			height: 30px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__price {
			width: 25%;
		}

		&__area {
			width: 25%;
		}

		&__type {
			width: 25%;
		}

		&__floor {
			width: 25%;
			display: block;
			margin-bottom: 0;
		}

		&__description {
			height: 2rem;
			display: block;
			margin-top: 0.625rem;
			line-height: 1rem;
			overflow: hidden;
		}

		&__data {

			&_intro {
				display: block;
			}
		}
	}


	@media (min-width: $screen-xl-min) {

	}
}

.btn-action {
	color: $color-base;
	cursor: pointer;
	font-weight: 400;
	outline: none;
	padding: 0.375rem 0.375rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: transparent;
	display: block;
	vertical-align: middle;
	font-size: 0.9375rem;
	line-height: 1;
	text-decoration: none;
	position: relative;
	border: 1px solid #7a7a7a;
	@include border-radius(4px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: $color-blue;
		border-color: $color-blue;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	span {
		display: none;
	}
}

.btn-favorite {
	color: $color-base;
	cursor: pointer;
	font-weight: 400;
	outline: none;
	padding: 0.375rem 0.375rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: transparent;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.9375rem;
	line-height: 1;
	text-decoration: none;
	position: relative;
	border: 1px solid #7a7a7a;
	@include border-radius(4px);
	@include transition(.2s);


	&:focus,
	&.focus {
		outline: 0;
	}

	input[type='checkbox'] {
		display: none;
	}

	.added {
		display: none;
	}

	input[type='checkbox']:checked + i {
		color: $color-blue;
		border-color: $color-blue;
	}
}

.object {

	&__heading {
		padding: 1rem;
		background: #fff;
		margin-bottom: 1rem;
		border-bottom: 1px solid #e4e4e4;

		h1 {
			padding: 0.25rem 0;
			margin-bottom: 0;
		}

		&_address {
			color: #7a7a7a;
		}
	}

	&__date {
		font-size: 0.75rem;
		color: #7a7a7a;
		display: inline-block;
	}

	&__views {
		color: #7a7a7a;
		display: inline-block;
		margin-left: .5rem;
	}

	&__row {
		@include clearfix();
	}

	&__content {
		margin-bottom: 1rem;
	}

	&__sidebar {
		margin-bottom: 1rem;
	}

	&__gallery {
		width: 100%;
		max-width: 100%;
		background: #fff;
		padding: 1rem 1.25rem;
		border-bottom: 1px solid #e4e4e4;
	}

	&__data {
		background: #fff;
		border: 1px solid #e4e4e4;
		@include border-radius(3px);

		&_first {
			padding: 1rem 1.25rem;
			border-bottom: 1px solid #e4e4e4;

		}

		&_second {
			padding: 1rem 1.25rem;
		}

		&_text {
			color: #7a7a7a;
			display: block;
			line-height: 1rem;
			font-size: 0.75rem;
			margin: 0.25rem 0 1rem 0;
		}
	}

	&__price {
		color: #182930;
		display: block;
		font-weight: 700;
		line-height: 2rem;
		font-size: 1.75rem;
		text-decoration: none;
		margin-bottom: 1rem;

		&_area {
			color: #7a7a7a;
			font-weight: 400;
			line-height: 1rem;
			font-size: 0.875rem;
			white-space: nowrap;
			margin: -1rem 0 1rem 0;
		}
	}

	&__subscribe {

		span {

		}

		&:hover {

			span {

			}
		}
	}

	&__phone {
		color: #182930;
		display: block;
		font-weight: 700;
		line-height: 2rem;
		font-size: 1.75rem;
		margin-top: 1rem;
		text-decoration: none;

		&:hover {
			color: #182930;
		}
	}

	&__message {
		display: inline-block;
	}

	&__id {
		font-weight: 500;
		padding: 0.25rem 0;
		font-size: 1rem;
		line-height: 1.25rem;
		display: block;
		margin-bottom: 0.325rem;
	}

	&__author {
		color: #585858;
		font-weight: 500;
		line-height: 1rem;
		text-align: center;
		letter-spacing: 1px;
		font-size: 0.625rem;
		display: inline-block;
		text-transform: uppercase;
		padding: 0.125rem 0.25rem 0.125rem 0.25rem;
		background-color: rgba(18, 18, 18, 0.1);
		@include border-radius(0.125rem);
	}

	&__action {
		padding: 1rem 0 0 0;
		list-style: none;
		margin: 0 -0.25rem;
		@include clearfix();


		> li {
			float: left;
			padding: 0 0.25rem;
		}
	}

	&__box {
		background: #fff;
		margin-bottom: 1rem;
		padding: 1rem 1.25rem;
		border-bottom: 1px solid #e4e4e4;
	}

	#objectMap {
		width: 100%;
		height: 220px;
	}

	&__text {
		line-height: 1.25rem;

		&.open {

			.object__text_wrap {
				max-height: inherit;
			}

			.object__text_toggle {

				i {
					@include rotate(180deg);
				}
			}
		}

		&_wrap {
			overflow: hidden;
			max-height: 7.5rem;
		}

		&_toggle {
			color: $color-blue;
			display: inline-block;

			span {
				border-bottom: 1px solid rgba(43,135,219, 0.3);
			}

			&:hover {
				color: $color-blue;
			}
		}
	}

	&__table {
		width: 100%;
		max-width: 500px;
		font-size: $font-size-base;
		line-height: 1.25rem;

		td {
			padding: 0.25rem 0;

			&:first-child {
				padding-right: 0.625rem;
			}
		}
	}

	&__contact {

		&_row {
			@include clearfix();
		}

		&_time {
			padding: 0.625rem 0;
		}

		&_id {
			float: left;
			font-weight: 700;
			margin-right: 0.625rem;
			font-size: 1.125rem;
			line-height: 1.75rem;
			vertical-align: middle;
			display: inline-block;
		}

		&_tag {
			float: left;
			margin-top: 0.375rem;
			padding: 0 0.375rem;
			display: inline-block;
			font-size: 0.75rem;
			line-height: 1rem;
			letter-spacing: 1px;
			text-transform: uppercase;
			cursor: default;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			color: #585858;
			background-color: rgba(0,0,0,.07);
			@include border-radius(2px);
		}

		&_phone {
			color: #121212;
			font-weight: 700;
			font-size: 1rem;
			margin-right: 0.625rem;
			padding: 0.3125rem 0;
			line-height: 1.25rem;
			display: inline-block;
			float: left;

			&:hover {
				color: #121212;
			}
		}

		&_alert {
			padding-top: 0.375rem;
			font-size: 0.75rem;
			line-height: 1rem;
			color: #7a7a7a;
		}

		.btn-small {
			float: left;
		}
	}

	@media (min-width: $screen-sm-min) {

		#objectMap {
			height: 280px;
		}
	}

	@media (min-width: $screen-md-min) {

		&__row {
			width: 100%;
		}

		#objectMap {
			height: 350px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__content {
			float: left;
			width: 624px;
		}

		&__sidebar {
			width: 290px;
			float: right;
		}

		&__data {

			&_first {
				padding: 1rem 1.5rem;
			}

			&_second {
				padding: 1rem 1.5rem;
			}

			&_text {
				color: #7a7a7a;
				display: block;
				line-height: 1rem;
				font-size: 0.75rem;
				margin: 0.25rem 0 1rem 0;
			}
		}

		#objectMap {
			height: 440px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__content {
			width: 744px;
		}

		&__sidebar {
			width: 380px;
		}

	}
}

.goods {
	background: #fff;
	padding: 1rem 1.25rem 1.5rem 1.25rem;
	border-bottom: 1px solid #e4e4e4;

	&__heading {
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.5rem;
		color: #121212;
		margin-bottom: 1.25rem;
	}

	&__slider {
		margin: 0 -0.5rem;
		position: relative;
	}

	&__item {
		border: none;
		outline: none;
		padding: 0 0.5rem;
	}

	&__image {
		border: none;
		outline: none;
		display: block;
		height: 150px;
		overflow: hidden;
		margin-bottom: 0.75rem;


		img {
			display: block;
			object-fit: cover;
		}
	}

	&__title {
		line-height: 1.25rem;
		text-decoration: none;
		cursor: pointer;
		color: $color-blue;
		-webkit-transition: color .15s;
		transition: color .15s;

		&:hover {
			color: $color-blue-hover;
		}
	}

	&__address {
		overflow: hidden;
		color: #121212;
		margin: 0.375rem 0;
		max-height: 2.25rem;
		line-height: 1.125rem;
	}

	&__price {
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1;
		color: #121212;
	}

	.slick-slide {
		height: auto;
	}
}

.new {
	position: relative;

	&__heading {
		color: #585858;
		margin-bottom: 2rem;

		h1 {
			font-weight: 600;
			font-size: 1.625rem;
			line-height: 1.75rem;
			margin-bottom: 0;
		}

		p {
			font-size: 0.875rem;
			margin-bottom: 0;
		}
	}

	&__body {
		max-width: 930px;
		background: #fff;
		border: 1px solid #e4e4e4;
	}

	&__side {
		display: none;
		position: relative;
	}

	&__nav {
		position: relative;

		ul {
			margin: 0;
			padding: 0.25rem 0 0 0;
			list-style: none;

			li {
				padding: 0.25rem 0;

				a {
					font-weight: 500;
					color: $color-blue;
					border-bottom: 1px solid transparent;

					&:hover {
						color: $color-blue-hover;
					}


					&.cur {
						color: $color-base;
						border-bottom-color: $color-blue-hover;
					}
				}
			}
		}
	}

	&__map {
		height: 220px;
		margin-top: 2rem;
		background: #f5f5f5;
		margin-bottom: 1.25rem;
	}

	#map {
		width: 100%;
		height: 100%;
	}

	#notice {
		display: none;
	}

	@media (min-width: $screen-md-min) {

		&__side {
			top: 0;
			right: 0;
			position: absolute;
			z-index: 10;
		//	display: block;
			width: 160px;
			min-width: 160px;
			padding-left: 1rem;
		}

		&__body {
	//		margin-right: 160px;
		}

		&__nav {

			&.fixed {
				top: 0;
				left: 50%;
				margin-left: 201px;
				position: fixed;
			}
		}


		&__map {
			height: 400px;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__nav {

			&.fixed {
				margin-left: 321px;
			}
		}

		&__map {
			height: 420px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__nav {

			&.fixed {
				margin-left: 426px;
			}
		}
	}
}

.fileUpload {
	padding: 2rem;
	display: block;
	cursor: pointer;
	text-align: center;
	color: $color-blue;
	margin-bottom: 1.25rem;
	border: 2px dashed $color-blue;

	input {
		display: none;
	}

	&__icon {
		font-size: 2.5rem;
		display: block;
		margin-bottom: 1rem;
	}

	&__text {
		font-size: 1.25rem;
		display: block;
	}
}

.segment {
	border-bottom: 1px solid #e4e4e4;
	padding: 1rem 1.25rem 1rem 1.25rem;

	&:last-child {
		border-bottom: none;
	}

	&__title {
		color: #585858;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1rem;
		margin-bottom: 1rem;
	}

	&__row {
		margin-bottom: 1.25rem;
		@include flexbox();
		@include flex-direction(column);
	}

	&__label {
		display: block;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		padding: 0.3125rem 0;
	}

	&__list {
		padding: 0;
		max-width: 400px;
		list-style: none;
		margin: 0 -0.5rem;
		@include clearfix();

		> li {
			width: 50%;
			float: left;
			padding: 0.25rem 0.5rem;
		}
	}

	&__help {
		padding-left: 1.5rem;
		border-left: 4px solid $color-orange;
	}

	&__info {
		font-size: 0.75rem;
		line-height: 1rem;
		margin-top: -0.5rem;
		margin-bottom: 1rem;
	}

	&__phone {
		margin: 0 -0.5rem;
		@include flexbox();
		@include flex-wrap(nowrap);

		&_input {
			padding: 0 0.5rem;
			width: 170px;
		}


		&_button {
			padding: 0 0.5rem;
		}

		&_text {
			color: #909090;
			font-size: 0.75rem;
			padding: 0 0.5rem;
			width: 235px;
			line-height: 0.9375rem;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 1.25rem 1.5rem 1.25rem 1.5rem;

		&__row {
			@include flex-direction(row);
		}

		&__label {
			width: 135px;
		}
	}
}

.selectBox {
	font-size: 0;
	line-height: 0;
	display: inline-block;
	@include clearfix();

	&__item {
		float: left;
		display: inline-block;

		input[type='radio'] {
			display: none;
		}

		span {
			cursor: pointer;
			background: #fff;
			font-weight: 500;
			font-size: 0.8125rem;
			line-height: 1.25rem;
			display: inline-block;
			padding: 0.25rem 1rem;
			border: 1px solid #c9c8ca;

			&:hover {
				color: #fff;
				background: $color-blue;
				border-color: $color-blue;
			}
		}

		input[type='radio']:checked + span {
			color: #fff;
			background: $color-blue;
			border-color: $color-blue;

			&:hover {
				color: #fff;
				background: $color-blue-hover;
				border-color: $color-blue-hover;
			}
		}

		&:first-child {

			span {
				border-right: none;
				@include border-radius(0.9375rem 0 0 0.9375rem);
			}
		}


		&:last-child {

			span {
				@include border-radius(0 0.9375rem 0.9375rem 0);
			}
		}
	}
}

.map {
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	@include flex(1);

	#map {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
	}

	&__content {
		top: 0;
		left: 0;
		right: 0;
		position: absolute;

		&.open {
			bottom: 0;

			.map__filter {
				display: block;
				bottom: 0;
			}

			.map__header_toggle {
  }
		}
	}

	&__header {
		z-index: 100;
		background: #fff;
		padding: 0.75rem 0;
		line-height: 1rem;
		position: relative;
		font-size: 0.875rem;
		border-bottom: 1px solid #f4f4f4;

		&_wrap {
			padding: 0 15px;
			@include clearfix();
		}

		a {
			color: $color-base;

			&:hover {
				color: $color-base;
			}
		}


		&_filter {
			float: left;
			display: inline-block;
		}

		&_list {
			float: right;
			display: inline-block;
		}
	}

	&__filter {
		z-index: 50;
		top:40px;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
		background: #fff;
		position: absolute;

		&_scroll {
			width: 100%;
			height: 100%;
			overflow: auto;
			max-height: 100%;
			position: relative;
		}
	}

	.filter-button {
		width: 2rem;
		height: 2rem;
		z-index: 100;
		font-size: 1rem;
		cursor: pointer;
		background: #fff;
		line-height: 1rem;
		padding: 0.5rem 0;
		text-align: center;
		color: $color-base;
		display: none;
		@include border-radius(50%);
		@include box-shadow(0 4px 10px 0 rgba(0,0,0,.3));
	}

	@media (min-width: $screen-sm-min) {

		&__header {

			&_wrap {
				width: 540px;
				margin: 0 auto;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		&__header {
			display: none;

			&_wrap {
				width: 720px;
			}
		}

		&__content {

			&.open {
				bottom: auto;

				.filter-button {
					@include rotate(180deg);
				}

				.map__filter {
					-webkit-transform: translateY(0);
					transform: translateY(0);
				}
			}
		}

		&__filter {
			top: 0;
			width: 720px;
			margin: 0 auto;
			padding: 1.25rem 0 0 2rem;
			background: transparent;
			display: block;
			position: relative;
			-webkit-transform: translateY(-100%);
			transform: translateY(-100%);
			@include transition(.3s);

			&_scroll {
				height: auto;
				overflow: inherit;
				max-height: inherit;
			}
		}

		.btn,
		.formRange,
		.form-control,
		.mySelect__btn,
		.mapFilter__button {
			@include box-shadow(0 4px 10px 0 rgba(0, 0, 0, 0.3));
		}

		.filter-button {
			left: 2rem;
			bottom: -3rem;
			position: absolute;
			display: inline-block;
		}
	}

	@media (min-width: $screen-lg-min) {

		&__header {
			display: none;
		}

		&__content {

			&.open {

				.mapFilter {
					@include box-shadow(0 4px 10px 0 rgba(0, 0, 0, 0.3));
				}
			}
		}

		&__filter {
			width: 940px;
		}

		.btn,
		.formRange,
		.form-control,
		.mySelect__btn,
		.mapFilter__button {
			@include border-radius(0);
			@include box-shadow(none);
		}

		.formRange,
		.form-control,
		.mySelect__btn,
		.mapFilter__button {
			border-color: #fff;
			border-right-color: #c9c9c9;
		}

		.formRange {
			width: 130px;
		}
	}

	@media (min-width: $screen-xl-min) {

		&__filter {
			margin: 0;
			width: 1140px;
			padding-left: 3rem;
		}

		.formRange {
			width: 180px;
		}

		.filter-button {
			left: 3rem;
		}
	}
}


.mapFilter {
	font-size: 0;
	line-height: 0;
	margin: 0 auto;
	padding: 1.5rem 15px 1rem 15px;

	&__first {
		margin: 0 -0.5rem;
		padding: 0;
		list-style: none;
		@include flexbox();
		@include clearfix();
		@include flex-wrap(wrap);

		> li {
			float: left;
			width: 100%;
			padding: 0 0.5rem;
			margin-bottom: 1rem;

			&:last-child {
				text-align: center;
			}
		}
	}


	&__button {
		width: 100%;
		color: $color-blue;
		cursor: pointer;
		font-weight: 400;
		outline: none;
		padding: 0.375rem 1rem;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		background: #fff;
		display: inline-block;
		vertical-align: middle;
		font-size: 0.875rem;
		line-height: 1.25rem;
		text-decoration: none;
		position: relative;
		border: 1px solid #c9c9c9;
		@include border-radius(4px);
		@include transition(.2s);

		&:hover {
			color: $color-blue;
		}

		&:focus,
		&.focus {
			outline: 0;
		}

		i {
			margin-right: 6px;
		}
	}

	&__second {
		padding-top: 0.5rem;
		text-align: left;
		@include clearfix();

		button[type="submit"] {
			float: left;
		}

		button[type="reset"] {
			float: right;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 540px;
		margin: 0 auto;

		&__first {

			> li {
				width: 50%;

				&:last-child {
					width: 100%;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 100%;
		padding: 0;

		&__first {

			> li {
				width: 25%;

				&:last-child {
					width: 25%;
				}
			}
		}

		.btn {
			width: 100%;
		}
	}

	@media (min-width: $screen-lg-min) {
		width: 100%;

		&__first {
			margin: 0 0 1rem 0;
			@include flex-wrap(nowrap);
			@include justify-content(space-between);

			> li {
				padding: 0;
				width: auto;
				margin-bottom: 0;

				&:first-child {

					.mySelect__btn {
						@include border-radius(4px 0 0 4px);
					}
				}

				&:last-child {
					width: auto;

					.btn {
						@include border-radius(0 4px 4px 0);
					}
				}

				&.item-address {
					min-width: 200px;
					@include flex(1);
				}
			}
		}
	}
}

.result {
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 100;
	overflow: hidden;
	position: absolute;
	background: #f3f4f6;
	@include flexbox();
	@include flex-direction(column);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	@include transition(.3s);

	&.open {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		@include transition(.3s);
	}

	&.visibleImage {

		.result__media {
			display: block;
		}

	}

	&__header {
		z-index: 50;
		font-weight: 600;
		font-size: 0.8125rem;
		line-height: 1rem;
		padding: 0.625rem 2rem 0.625rem 1rem;
		position: relative;
		background: #fff;
		@include box-shadow(0 5px 10px 0 rgba(0, 0, 0, .1));

		&_text {
			width: 100%;
			height: 32px;
			overflow: hidden;
			@include flexbox();

			span {
				margin: auto 0;
				display: block;
			}
		}
	}

	&__close {
		top: 50%;
		right: 0.75rem;
		width: 1.25rem;
		height: 1.25rem;
		position: absolute;
		display: inline-block;
		margin-top: -0.625rem;
		cursor: pointer;

		&:after,
		&:before {
			top: 50%;
			left: 50%;
			content: '';
			height: 1px;
			width: 1.25rem;
			position: absolute;
			margin: -1px 0 0 -0.625rem;
			display: inline-block;
			background: rgba(112, 112, 112, 1);
		}

		&:after {
			@include rotate(-45deg);
		}

		&:before {
			@include rotate(45deg);
		}
	}

	&__body {
		max-width: 100%;
		overflow: hidden;
		@include flex(1);
		position: relative;
	}

	&__scroll {
		width: 100%;
		overflow-y: scroll;
		height: 100%;
	}

	&__wrap {
		padding: 0 1rem;
	}

	&__total {
		color: #7a7a7a;
		font-weight: 500;
		min-height: 2.5rem;
		padding: 0.625rem 0;

		&_value {
			float: left;
			cursor: pointer;
			display: inline-block;
		}

		&_image {
			float: right;
			cursor: pointer;
			margin-right: 0.5rem;
			color: $color-blue;

			&:hover {
				color: $color-blue-hover;
			}

			.on {
				display: inline;
			}

			.off {
				display: none;
			}

			&.open {

				.on {
					display: none;
				}

				.off {
					display: inline;
				}
			}
		}
	}

	&__item {
		z-index: 1;
		position: relative;
		background: #fff;
		margin-bottom: 1rem;
		border: 1px solid #e4e4e4;
	}

	&__media {
		margin: 0;
		height: 180px;
		display: none;
		overflow: hidden;

		.slide-nav {
			top: 50%;
			z-index: 10;
			color: #fff;
			height: 1.5rem;
			font-size: 1.5rem;
			cursor: pointer;
			position: absolute;
			line-height: 1.5rem;
			display: inline-block;
			margin-top: -0.75rem;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

			&.prev {
				left: 15px;
			}

			&.next {
				right: 15px;
			}
		}
	}

	&__slider {
		max-width: 100%;
		overflow: hidden;

		&_item {
			width: 100%;
			height: 180px;

			img {
				width: 100%;
				height: 100%;
				max-width: 100%;
				display: block;
				object-fit: cover;
				-o-object-fit: cover;
			}
		}

		.slick-slide {
			height: 180px;
		}
	}

	&__content {
		color: $color-base;
		padding: 0.625rem 1rem;
		display: block;
		position: relative;

		&:hover {
			color: $color-base;
		}

		.favourites {
			top: 1rem;
			right: 1rem;
			position: absolute;
		}
	}

	&__price {
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 1.25rem;
		display: inline-block;
	}

	&__name {
		font-weight: 500;
		padding: 0.625rem 0 0.375rem 0;

		span {

			&:after {
				content: '/';
				padding: 0 0.25rem;
			}

			&:last-child {

				&:after {
					display: none;
				}
			}
		}
	}

	&__place {
		line-height: 1.25rem;
		margin-bottom: 0.125rem;
	}

	&__address {
		color: #7a7a7a;
		line-height: 1.25rem;
	}

	&__info {
		padding-top: 0.5rem;
	}

	&__phone {
		color: $color-base;
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.25rem;

		&:hover {
			color: $color-base;
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 320px;
		left: auto;
		background: #f3f4f6;
		@include box-shadow(-2px 0 6px 0 rgba(0,0,0,.1));

		&__header {
			top: auto;
			left: auto;
			right: auto;
			position: relative;
		}

		&__body {
			padding-top: 0;
		}
	}

	@media (min-width: $screen-md-min) {

	}
}

