$body-bg:                       #fff;
$color-blue:                    #2b87db;
$color-blue-hover:              #256ba5;

$color-orange:                  #ff9d00;
$color-orange-hover:            #EE600D;

// Fonts

$font-size-base:                0.8125rem !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              400 !default;
$line-height-base:              1.428757 !default;


$font-base:                     'Fira Sans', Arial, sans-serif !default;
$font-head:                     $font-base;

$spacer:                        1rem !default;

$color-base:                    #121212;
$color-link:                    $color-blue !default;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;


	// layout

$container-sm:                  540px !default;
$container-md:                  720px !default;
$container-lg:                  970px !default;
$container-xl:                  1170px !default;


$gutter:                        30px !default;


$screen-xs-min:                 0;
$screen-sm-min:                 576px !default;
$screen-md-min:                 768px !default;
$screen-lg-min:                 992px !default;
$screen-xl-min:                 1200px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;

