.img-fluid {
	max-width: 100%;
	height: auto;
}

.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 100%;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

.hide {
	opacity: 0 !important;
	display: none !important;
	visibility: hidden !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}



.hidden-md {

	@media (min-width: $screen-md-min) {
		display: none;
	}

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}

.hide-md {

	@media (min-width: $screen-md-min) {
		display: none;
	}

	@media (min-width: $screen-lg-min) {
		display: block;
	}
}

.hide-lg {

	@media (min-width: $screen-lg-min) {
		display: none;
	}

	@media (min-width: $screen-xl-min) {
		display: block;
	}
}

.hide-xl {

	@media (min-width: $screen-xl-min) {
		display: none;
	}
}