
.breadcrumb {
	padding: 0;
	list-style: none;
	margin: 0 0 0.5rem 0;

	> li {
		color: #666;
		line-height: 1.25rem;
		display: inline-block;

		&:after {
			content: '>';
			padding: 0 5px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		> a {
			color: #666;
			text-decoration: none;

			&:hover {
				color: $color-base;
			}
		}
	}
}