
.btn {
	color: #fff;
	cursor: pointer;
	font-weight: 400;
	outline: none;
	padding: 0.625rem 1.25rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: $color-blue;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8125rem;
	line-height: 1.25rem;
	text-decoration: none;
	position: relative;
	border: 1px solid $color-blue;
	@include border-radius(4px);
	@include transition(.2s);

	&:hover {
		color: #fff;
		background: $color-blue-hover;
		border-color: $color-blue-hover;
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	i {
		margin-right: 6px;
	}
}


.btn-small {
	color: $color-blue;
	cursor: pointer;
	font-weight: 400;
	outline: none;
	padding: 0.25rem 1rem;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	background: rgba(43,135,219,.1);
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8125rem;
	line-height: 1.25rem;
	text-decoration: none;
	position: relative;
	border: 1px solid rgba(43,135,219,.1);
	@include border-radius(15px);
	@include transition(.2s);

	&:hover {
		color: $color-blue;
		background: rgba(43,135,219,.2);
		border-color: rgba(43,135,219,.2);
	}

	&:focus,
	&.focus {
		outline: 0;
	}

	i {
		margin-right: 6px;
	}
}


.btn-orange {
	background: $color-orange;
	border-color: $color-orange;

	&:hover {
		background: $color-orange-hover;
		border-color: $color-orange-hover;
	}
}

.btn-blue-border {
	font-weight: 500;
	color: $color-blue;
	background: transparent;

	&:hover {
		color: #fff;
		background: $color-blue;
		border-color: $color-blue;
	}
}

.btn-sm {
	padding: 0.375rem 1rem;

	&.btn-radius {
		@include border-radius(17px);
	}
}

.btn-blue {
	color: #fff;
	background: $color-blue;
	border-color: $color-blue;

	&:hover {
		color: #fff;
		background: $color-blue-hover;
		border-bottom-color: $color-blue-hover;
	}
}


.btn-circle {
	@include border-radius(1.3125rem);
}

.disable {
	opacity: 0.4;
	cursor: default;
}
