.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	display: inline-block;
	color: #333;
	overflow: hidden;
	background: #fff;
	padding: 0.375rem 1.5rem 0.375rem 0.625rem;
	cursor: pointer;
	font-size: 0.8125rem;
	line-height: 1.25rem;
	text-decoration: none;
	position: relative;
	border: 1px solid #c9c9c9;
	@include border-radius(4px);
	@include placeholder(#666);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
		@include placeholder(transparent);
	}
}


.form-group {
	margin-bottom: 1rem;
}

.form-checkbox {
	font-size: 0;
	line-height: 0;
	display: inline-block;

	input[type='checkbox'] {
		display: none;
	}

	span {
		cursor: pointer;
		position: relative;
		line-height: 1.25rem;
		font-size: 0.8125rem;
		display: inline-block;
		white-space: nowrap;
		padding: 0 0 0 1.5rem;

		&:after {
			left: 0;
			top: 0.125rem;
			z-index: 10;
			content: '';
			width: 1rem;
			height: 1rem;
			position: absolute;
			background: #fff;
			border: 1px solid #c9c9c9
		}

		&:before {
			top: 0.3125rem;
			left: 0.1875rem;
			z-index: 20;
			content: "\f00c";
			font-weight: 900;
			position: absolute;
			font-size: 0.625rem;
			line-height: 0.625rem;
			visibility: hidden;
			opacity: 0;
			color: $color-blue;
			font-family: 'Font Awesome 5 Free';
		}

		&:hover {

			&:after {
				color: $color-base;
			}
		}
	}

	input[type='checkbox']:checked + span {

		&:before {
			opacity: 1;
			visibility: visible;
		}
	}
}

.form-radio {
	font-size: 0;
	line-height: 0;
	display: inline-block;

	input[type='radio'] {
		display: none;
	}

	span {
		cursor: pointer;
		position: relative;
		line-height: 1.25rem;
		font-size: 0.8125rem;
		display: inline-block;
		white-space: nowrap;
		padding: 0 0 0 1.5rem;

		&:after {
			left: 0;
			top: 0.125rem;
			z-index: 10;
			content: '';
			width: 1rem;
			height: 1rem;
			position: absolute;
			background: #fff;
			border: 1px solid #c9c9c9;
			@include border-radius(50%)
		}

		&:before {
			top: 0.375rem;
			left: 0.25rem;
			z-index: 20;
			content: "";
			font-weight: 900;
			position: absolute;
			width: 0.5rem;
			height: 0.5rem;
			visibility: hidden;
			background: #c9c9c9;
			display: inline-block;
			opacity: 0;
			@include border-radius(50%);
			@include transition(.3s);
		}

		&:hover {

			&:after {
				border-color: $color-blue;
			}

			&:before {
				opacity: 1;
				@include transition(.3s);
			}
		}
	}

	input[type='radio']:checked + span {

		&:after {
			border-color: $color-blue;
		}

		&:before {
			opacity: 1;
			visibility: visible;
			background: $color-blue;
		}
	}
}

.mySelect {
	width: 100%;
	z-index: 100;
	min-width: 120px;
	position: relative;

	&.open {
		z-index: 999;

		.mySelect__dropdown {
			display: block;
		}

		.mySelect__btn {
		//	background: #e9f3fb;

			&:before {
				@include rotate(180deg);
			}
		}
	}

	&.mySelect-right {

		.mySelect__dropdown {
			left: auto;
			right: 0;

			&:before {
				left: auto;
				right: 20px;
			}

			&:after {
				left: auto;
				right: 21px;
			}
		}
	}

	&.first__select {

		.mySelect__btn {
			padding: 0.625rem 1.5rem 0.625rem 0.625rem;
		}
	}

	&__btn {
		width: 100%;
		outline: none;
		color: #333;
		overflow: hidden;
		background: #fff;
		padding: 0.375rem 1.5rem 0.375rem 0.625rem;
		cursor: pointer;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		text-decoration: none;
		position: relative;
		border: 1px solid #c9c9c9;
		@include border-radius(4px);

		&:before {
			z-index: 10;
			top: 50%;
			right: 0.5rem;
			content: "\f107";
			font-weight: 900;
			position: absolute;
			font-size: 1rem;
			line-height: 1rem;
			color: #5d5b5b;
			margin-top: -0.5rem;
			font-family: 'Font Awesome 5 Free';
			@include transition(.3s);
		}

		&:hover {
			//background: #e9f3fb;
		}
	}


	&__selected {
		max-width: 100%;
		overflow: hidden;
		white-space: nowrap;
		display: block;
	}

	&__dropdown {
		left: 0;
		top: 100%;
		min-width: 100%;
		background: #fff;
		margin-top: 1rem;
		position: absolute;
		display: none;
		border: 1px solid #c9c9c9;
		@include border-radius(4px);
		@include box-shadow(0 2px 8px rgba(0,0,0,.25));

		&:before {
			position: absolute;
			bottom: 100%;
			width: 0;
			height: 0;
			pointer-events: none;
			content: " ";
			border: solid transparent;
			border-width: 8px;
			border-bottom-color: #c9c9c9;
			left: 15px;
		}

		&:after {
			position: absolute;
			bottom: 100%;
			width: 0;
			height: 0;
			pointer-events: none;
			content: " ";
			border: solid transparent;
			border-bottom-color: #fff;
			border-width: 7px;
			left: 16px;
		}

		ul {
			margin: 0;
			padding: 0.25rem 0;
			list-style: none;
		}
	}

	&__wrap {
		max-height: 300px;
		overflow-y: auto;
	}

	&__radio {
		font-size: 0;
		line-height: 0;

		input[type='radio'] {
			display: none;
		}

		span {
			width: 100%;
			cursor: pointer;
			position: relative;
			line-height: 1.25rem;
			font-size: 0.8125rem;
			display: inline-block;
			white-space: nowrap;
			padding: 0.375rem 1rem 0.375rem 1.875rem;

			&:before {
				top: 0.375rem;
				left: 0.5rem;
				content: "\f00c";
				font-weight: 900;
				position: absolute;
				font-size: 0.875rem;
				line-height: 0.875rem;
				padding: 0.1875rem 0;
				visibility: hidden;
				opacity: 0;
				color: $color-blue;
				font-family: 'Font Awesome 5 Free';
			}

			&:hover {
				background: #e9f3fb;
			}
		}

		input[type='radio']:checked + span {

			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	&__checkbox {
		font-size: 0;
		line-height: 0;

		input[type='checkbox'] {
			display: none;
		}

		span {
			width: 100%;
			cursor: pointer;
			position: relative;
			line-height: 1.25rem;
			font-size: 0.8125rem;
			display: inline-block;
			white-space: nowrap;
			padding: 0.375rem 1rem 0.375rem 2.25rem;

			&:after {
				left: 0.75rem;
				top: 0.5rem;
				z-index: 10;
				content: '';
				width: 1rem;
				height: 1rem;
				position: absolute;
				background: #fff;
				border: 1px solid #c9c9c9
			}

			&:before {
				top: 0.6875rem;
				left: 0.9375rem;
				z-index: 20;
				content: "\f00c";
				font-weight: 900;
				position: absolute;
				font-size: 0.625rem;
				line-height: 0.625rem;
				visibility: hidden;
				opacity: 0;
				color: $color-blue;
				font-family: 'Font Awesome 5 Free';
			}

			&:hover {
				background: #e9f3fb;
			}
		}

		input[type='checkbox']:checked + span {

			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.formRange {
	overflow: hidden;
	background: #fff;
//	min-width: 180px;
	border: 1px solid #c9c9c9;
	@include border-radius(4px);
	@include flexbox();

	input[type='text'] {
		margin: 0;
		width: 100%;
		border: none;
		outline: none;
		color: #333;
		z-index: 2;
		font-weight: 400;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		position: relative;
		display: inline-block;
		background: transparent;
		padding: 0.375rem 0.375rem;
		@include placeholder(#6d6d6d);


		&::-ms-clear {
			display: none;
			width: 0;
			height: 0;
		}

		&:hover {
			background: #e9f3fb;
		}

		&:focus {
			@include placeholder(transparent);
		}
	}

	&__start {
		width: 45%;
		position: relative;
	}

	&__end {
		width: 55%;
		position: relative;

		&:before {
			left: 0;
			width: 1px;
			content: '';
			top: 0.375rem;
			display: block;
			bottom: 0.375rem;
			position: absolute;
			background: #e4e4e4;
		}

		input[type='text'] {
			padding-right: 1.25rem;
		}


	}

	&__legend {
		top: 50%;
		right: 0;
		color: #333;
		z-index: 5;
		width: 1.25rem;
		position: absolute;
		text-align: center;
		font-size: 0.8125rem;
		line-height: 1rem;
		margin-top: -0.5rem;
		display: inline-block;
	}
}


.button-checkbox {
	font-size: 0;
	line-height: 0;
	display: inline-block;

	input[type='radio'],
	input[type='checkbox'] {
		display: none;
	}

	span {
		color: #121212;
		cursor: pointer;
		font-weight: 400;
		outline: none;
		padding: 0.25rem 0.75rem;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		background: #fff;
		display: inline-block;
		vertical-align: middle;
		font-size: 0.8125rem;
		line-height: 1.25rem;
		text-decoration: none;
		position: relative;
		border: 1px solid #c9c9c9;
		@include border-radius(0.9375rem);
		@include transition(.2s);

		&:hover {
			border-color: #121212;
		}
	}

	input[type='radio']:checked + span {
		color: #fff;
		background: $color-blue;
		border-color: $color-blue;
	}

	input[type='checkbox']:checked + span {
		color: #fff;
		background: $color-blue;
		border-color: $color-blue;
	}
}


.form-row {
	margin: 0 -0.5rem;
	@include clearfix();
}

.form-col {

	@media (min-width: $screen-sm-min) {
		float: left;
		width: 50%;
		padding: 0 0.5rem;
	}
}

.form-select {

}

.select2-container {
	width: 100% !important;
}

.inputBox {
	position: relative;

	.form-control {
		padding-right: 3.25rem;
	}

	&__button {
		top: 0;
		right: 0;
		color: #fff;
		cursor: pointer;
		font-weight: 400;
		outline: none;
		position: absolute;
		padding: 0.375rem 0.625rem;
		user-select: none;
		text-align: center;
		white-space: nowrap;
		background: $color-blue;
		display: inline-block;
		vertical-align: middle;
		font-size: 1.25rem;
		line-height: 1.25rem;
		text-decoration: none;
		border: 1px solid $color-blue;
		@include border-radius(4px);
		@include transition(.2s);

		&:hover {
			color: #fff;
			background: $color-blue-hover;
			border-color: $color-blue-hover;
		}

		&:focus,
		&.focus {
			outline: 0;
		}
	}
}